@font-face {
  font-family: 'custom-iconpack';
  src:  url('../fonts/custom-iconpack.eot?xdxyec');
  src:  url('../fonts/custom-iconpack.eot?xdxyec#iefix') format('embedded-opentype'),
    url('../fonts/custom-iconpack.ttf?xdxyec') format('truetype'),
    url('../fonts/custom-iconpack.woff?xdxyec') format('woff'),
    url('../fonts/custom-iconpack.svg?xdxyec#custom-iconpack') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconpack-"], [class*=" iconpack-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-iconpack' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconpack-arrow-short-left:before {
  content: "\e91e";
}
.iconpack-arrow-short-right:before {
  content: "\e91f";
}
.iconpack-arrow-short-up:before {
  content: "\e920";
}
.iconpack-arrow-short-down:before {
  content: "\e921";
}
.iconpack-arrow-up:before {
  content: "\e900";
}
.iconpack-arrow-down:before {
  content: "\e901";
}
.iconpack-arrow-left:before {
  content: "\e902";
}
.iconpack-arrow-right:before {
  content: "\e903";
}
.iconpack-chevron-up:before {
  content: "\e904";
}
.iconpack-chevron-down:before {
  content: "\e905";
}
.iconpack-chevron-left:before {
  content: "\e906";
}
.iconpack-chevron-right:before {
  content: "\e907";
}
.iconpack-status:before {
  content: "\e908";
}
.iconpack-mail:before {
  content: "\e909";
}
.iconpack-location:before {
  content: "\e90a";
}
.iconpack-chip:before {
  content: "\e90b";
}
.iconpack-brand-one:before {
  content: "\e90c";
}
.iconpack-code-one:before {
  content: "\e90d";
}
.iconpack-code-two:before {
  content: "\e90e";
}
.iconpack-design-one:before {
  content: "\e90f";
}
.iconpack-designsys:before {
  content: "\e910";
}
.iconpack-design-two:before {
  content: "\e911";
}
.iconpack-download:before {
  content: "\e912";
}
.iconpack-infi-bold:before {
  content: "\e913";
}
.iconpack-infi-light:before {
  content: "\e914";
}
.iconpack-launch:before {
  content: "\e915";
}
.iconpack-layer:before {
  content: "\e916";
}
.iconpack-problem-slove:before {
  content: "\e917";
}
.iconpack-research:before {
  content: "\e918";
}
.iconpack-search:before {
  content: "\e919";
}
.iconpack-soc-behance:before {
  content: "\e91a";
}
.iconpack-soc-linkedin:before {
  content: "\e91b";
}
.iconpack-soc-x:before {
  content: "\e91c";
}
.iconpack-token:before {
  content: "\e91d";
}
