@font-face {
  font-family: 'lbs-icons';
  src:  url('../fonts/lbs-icons.eot?gpvut1');
  src:  url('../fonts/lbs-icons.eot?gpvut1#iefix') format('embedded-opentype'),
    url('../fonts/lbs-icons.ttf?gpvut1') format('truetype'),
    url('../fonts/lbs-icons.woff?gpvut1') format('woff'),
    url('../fonts/lbs-icons.svg?gpvut1#lbs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lbs-"], [class*=" lbs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lbs-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lbs-power-button:before {
  content: "\e937";
}
.lbs-logout:before {
  content: "\e938";
}
.lbs-logout-s:before {
  content: "\e939";
}
.lbs-contact-profile:before {
  content: "\e93a";
}
.lbs-menu-lines:before {
  content: "\e935";
}
.lbs-retweet:before {
  content: "\e936";
}
.lbs-circle-check:before {
  content: "\e931";
}
.lbs-circle-ban:before {
  content: "\e927";
}
.lbs-circle-close:before {
  content: "\e928";
}
.lbs-circle-info:before {
  content: "\e929";
}
.lbs-circle-minus:before {
  content: "\e92a";
}
.lbs-circle-plus:before {
  content: "\e92b";
}
.lbs-circle-question:before {
  content: "\e92d";
}
.lbs-circle-warning:before {
  content: "\e92e";
}
.lbs-span-double-right:before {
  content: "\e921";
}
.lbs-span-double-down:before {
  content: "\e922";
}
.lbs-span-double-left:before {
  content: "\e923";
}
.lbs-span-double-up:before {
  content: "\e924";
}
.lbs-starburst-outline:before {
  content: "\e91f";
}
.lbs-badge:before {
  content: "\e926";
}
.lbs-thumbs-up:before {
  content: "\e91a";
}
.lbs-thumbs-down:before {
  content: "\e91b";
}
.lbs-send:before {
  content: "\e163";
}
.lbs-profile:before {
  content: "\e900";
}
.lbs-round-arrow-down:before {
  content: "\e901";
}
.lbs-round-arrow-up:before {
  content: "\e902";
}
.lbs-round-arrow-left:before {
  content: "\e903";
}
.lbs-round-arrow-right:before {
  content: "\e904";
}
.lbs-refresh:before {
  content: "\e905";
}
.lbs-edit:before {
  content: "\e906";
}
.lbs-delete:before {
  content: "\e907";
}
.lbs-span-down:before {
  content: "\e908";
}
.lbs-span-left:before {
  content: "\e909";
}
.lbs-span-right:before {
  content: "\e90a";
}
.lbs-span-up:before {
  content: "\e90b";
}
.lbs-email:before {
  content: "\e90c";
}
.lbs-print:before {
  content: "\e90d";
}
.lbs-lock-open:before {
  content: "\e90e";
}
.lbs-lock:before {
  content: "\e90f";
}
.lbs-chat:before {
  content: "\e910";
}
.lbs-restore:before {
  content: "\e911";
}
.lbs-save:before {
  content: "\e912";
}
.lbs-search:before {
  content: "\e913";
}
.lbs-swap-horiz:before {
  content: "\e914";
}
.lbs-swap-vert:before {
  content: "\e915";
}
.lbs-timeline:before {
  content: "\e916";
}
.lbs-trending-down:before {
  content: "\e917";
}
.lbs-trending-up:before {
  content: "\e918";
}
.lbs-verified:before {
  content: "\e919";
}
.lbs-briefcase:before {
  content: "\e91c";
}
.lbs-globe:before {
  content: "\e91d";
}
.lbs-graduation-cap:before {
  content: "\e91e";
}
.lbs-library:before {
  content: "\e920";
}
.lbs-copy:before {
  content: "\e92c";
}
.lbs-folder:before {
  content: "\e92f";
}
.lbs-folder-open:before {
  content: "\e930";
}
.lbs-pushpin:before {
  content: "\e946";
}
.lbs-location:before {
  content: "\e948";
}
.lbs-compass:before {
  content: "\e949";
}
.lbs-bell:before {
  content: "\e951";
}
.lbs-calendar:before {
  content: "\e953";
}
.lbs-undo:before {
  content: "\e967";
}
.lbs-redo:before {
  content: "\e968";
}
.lbs-user:before {
  content: "\e971";
}
.lbs-users:before {
  content: "\e972";
}
.lbs-user-plus:before {
  content: "\e973";
}
.lbs-user-minus:before {
  content: "\e974";
}
.lbs-user-check:before {
  content: "\e975";
}
.lbs-key:before {
  content: "\e98d";
}
.lbs-wrench:before {
  content: "\e991";
}
.lbs-cog:before {
  content: "\e994";
}
.lbs-cogs:before {
  content: "\e995";
}
.lbs-pie-chart:before {
  content: "\e99a";
}
.lbs-stats-dots:before {
  content: "\e99b";
}
.lbs-stats-bars-underline:before {
  content: "\e99c";
}
.lbs-stats-bars:before {
  content: "\e99d";
}
.lbs-trophy:before {
  content: "\e99e";
}
.lbs-gift:before {
  content: "\e99f";
}
.lbs-money:before {
  content: "\e925";
}
.lbs-meter:before {
  content: "\e9a6";
}
.lbs-switch:before {
  content: "\e9b6";
}
.lbs-clipboard:before {
  content: "\e9b8";
}
.lbs-cloud:before {
  content: "\e9c1";
}
.lbs-cloud-download:before {
  content: "\e9c2";
}
.lbs-cloud-upload:before {
  content: "\e9c3";
}
.lbs-cloud-check:before {
  content: "\e9c4";
}
.lbs-link:before {
  content: "\e9cb";
}
.lbs-flag:before {
  content: "\e9cc";
}
.lbs-attachment:before {
  content: "\e9cd";
}
.lbs-eye:before {
  content: "\e9ce";
}
.lbs-bookmark:before {
  content: "\e9d2";
}
.lbs-heart:before {
  content: "\e932";
}
.lbs-star-full:before {
  content: "\e9d9";
}
.lbs-star-half:before {
  content: "\e9d8";
}
.lbs-star-empty:before {
  content: "\e9d7";
}
.lbs-happy:before {
  content: "\e9df";
}
.lbs-smile:before {
  content: "\e9e1";
}
.lbs-sad:before {
  content: "\e9e5";
}
.lbs-shocked:before {
  content: "\e9f1";
}
.lbs-baffled:before {
  content: "\e9f3";
}
.lbs-wondering:before {
  content: "\e9fb";
}
.lbs-plus:before {
  content: "\ea0a";
}
.lbs-minus:before {
  content: "\ea0b";
}
.lbs-close:before {
  content: "\ea0f";
}
.lbs-checkmark:before {
  content: "\ea10";
}
.lbs-arrow-up-left:before {
  content: "\ea39";
}
.lbs-arrow-up:before {
  content: "\ea3a";
}
.lbs-arrow-up-right:before {
  content: "\ea3b";
}
.lbs-arrow-right:before {
  content: "\ea3c";
}
.lbs-arrow-move:before {
  content: "\e933";
}
.lbs-arrow-down-right:before {
  content: "\ea3d";
}
.lbs-arrow-down:before {
  content: "\ea3e";
}
.lbs-arrow-down-left:before {
  content: "\ea3f";
}
.lbs-arrow-left:before {
  content: "\ea40";
}
.lbs-sort-asc:before {
  content: "\ea4c";
}
.lbs-sort-desc:before {
  content: "\ea4d";
}
.lbs-share:before {
  content: "\ea7d";
}
.lbs-social-share:before {
  content: "\ea82";
}
.lbs-file-text:before {
  content: "\e934";
}
.lbs-file-pdf:before {
  content: "\eadf";
}
.lbs-file-word:before {
  content: "\eae1";
}
.lbs-file-excel:before {
  content: "\eae2";
}
.lbs-table:before {
  content: "\ea71";
}
