
<div class="category">
    <h3 class="category-heading">
        Alerts

        <span class="float-right">
            <a class="doc-link"
               data-original-title="See official documentation"
               target="_blank"
               href="https://getbootstrap.com/docs/4.0/components/alerts/">
                <i class="fa fa-question-circle"></i>
            </a>
        </span>

    </h3>
    <ul>

        <li class="item-element">
            <a href="#alert-primary" id="item-alert-primary" class="item-link">
                <span>

                    alert-primary

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-primary"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-primary"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-secondary" id="item-alert-secondary" class="item-link">
                <span>

                    alert-secondary

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-secondary"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-secondary"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-success" id="item-alert-success" class="item-link">
                <span>

                    alert-success

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-success"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-success"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-info" id="item-alert-info" class="item-link">
                <span>

                    alert-info

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-info"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-info"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-warning" id="item-alert-warning" class="item-link">
                <span>

                    alert-warning

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-warning"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-warning"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-danger" id="item-alert-danger" class="item-link">
                <span>

                    alert-danger

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-danger"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-danger"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-light" id="item-alert-light" class="item-link">
                <span>

                    alert-light

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-light"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-light"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-dark" id="item-alert-dark" class="item-link">
                <span>

                    alert-dark

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-dark"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-dark"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-link" id="item-alert-link" class="item-link">
                <span>

                    alert-link

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-link"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-link"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-dismissible" id="item-alert-dismissible" class="item-link">
                <span>

                    alert-dismissible

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-dismissible"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-dismissible"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>
        <li class="item-element">
            <a href="#alert-fill" id="item-alert-dismissible" class="item-link">
                <span>

                    alert-fill

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-fill"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-dismissible"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>
        
        <li class="item-element">
            <a href="#alert-no-border" id="item-alert-dismissible" class="item-link">
                <span>

                    alert-no-border

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-no-border"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-no-border"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>
        <li class="item-element">
            <a href="#alert-txt-colored" id="item-alert-dismissible" class="item-link">
                <span>

                    alert-txt-colored

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-txt-colored"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-txt-colored"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>
        <li class="item-element">
            <a href="#alert-icon" id="item-alert-dismissible" class="item-link">
                <span>

                    alert-icon

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-icon"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-icon"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>
        <li class="item-element">
            <a href="#alert-border-left" id="item-alert-dismissible" class="item-link">
                <span>

                    alert-border-left

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-border-left"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-border-left"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#alert-heading" id="item-alert-heading" class="item-link">
                <span>

                    alert-heading

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="alert-heading"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-alert-heading"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

    </ul>
</div>