<div id="data-badge">
    <div class="display-title">

        badge

    </div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;h1&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h1&gt;</span>
<span class="nt">&lt;h2&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h2&gt;</span>
<span class="nt">&lt;h3&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h3&gt;</span>
<span class="nt">&lt;h4&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h4&gt;</span>
<span class="nt">&lt;h5&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h5&gt;</span>
<span class="nt">&lt;h6&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h6&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <h1>Example heading <span class="badge badge-secondary">New</span></h1>
        <h2>Example heading <span class="badge badge-secondary">New</span></h2>
        <h3>Example heading <span class="badge badge-secondary">New</span></h3>
        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
        <h5>Example heading <span class="badge badge-secondary">New</span></h5>
        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
    </div>

</div>

<div id="data-badge-pill">
    <div class="display-title">

        badge-pill

    </div>

    <div class="clipboard">badge-pill</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-pill badge-primary"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-pill badge-primary">Secondary</span></div>

</div>

<div id="data-badge-primary">
    <div class="display-title">

        badge-primary

    </div>

    <div class="clipboard">badge-primary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-primary">Primary</span></div>

</div>

<div id="data-badge-secondary">
    <div class="display-title">

        badge-secondary

    </div>

    <div class="clipboard">badge-secondary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-secondary">Secondary</span></div>

</div>

<div id="data-badge-success">
    <div class="display-title">

        badge-success

    </div>

    <div class="clipboard">badge-success</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-success"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-success">Success</span></div>

</div>

<div id="data-badge-info">
    <div class="display-title">

        badge-info

    </div>

    <div class="clipboard">badge-info</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-info"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-info">Info</span></div>

</div>

<div id="data-badge-warning">
    <div class="display-title">

        badge-warning

    </div>

    <div class="clipboard">badge-warning</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-warning"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-warning">Warning</span></div>

</div>

<div id="data-badge-danger">
    <div class="display-title">

        badge-danger

    </div>

    <div class="clipboard">badge-danger</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-danger"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-danger">Danger</span></div>

</div>

<div id="data-badge-light">
    <div class="display-title">

        badge-light

    </div>

    <div class="clipboard">badge-light</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-light"</span><span class="nt">&gt;</span>Light<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-light">Light</span></div>

</div>

<div id="data-badge-dark">
    <div class="display-title">

        badge-dark

    </div>

    <div class="clipboard">badge-dark</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-dark"</span><span class="nt">&gt;</span>Dark<span class="nt">&lt;/span&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><span class="badge badge-dark">Dark</span></div>

</div>