
<div id="data-btn-primary">
    <div class="display-title">

        btn-primary

    </div>

    <div class="clipboard">btn-primary</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></code>

</pre>
        </figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-primary">Primary</button>
       
    </div>

</div>

<div id="data-btn-secondary">
    <div class="display-title">

        btn-secondary

    </div>

    <div class="clipboard">btn-secondary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-secondary"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-secondary">Secondary</button>
    </div>

</div>

<div id="data-btn-success">
    <div class="display-title">

        btn-success

    </div>

    <div class="clipboard">btn-success</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-success"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-success">Success</button>
    </div>

</div>

<div id="data-btn-info">
    <div class="display-title">

        btn-info

    </div>

    <div class="clipboard">btn-info</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-info"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-info">Info</button>
    </div>

</div>

<div id="data-btn-warning">
    <div class="display-title">

        btn-warning

    </div>

    <div class="clipboard">btn-warning</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-warning"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-warning">Warning</button>
    </div>

</div>

<div id="data-btn-danger">
    <div class="display-title">

        btn-danger

    </div>

    <div class="clipboard">btn-danger</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-danger"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-danger">Danger</button>
    </div>

</div>

<div id="data-btn-light">
    <div class="display-title">

        btn-light

    </div>

    <div class="clipboard">btn-light</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-light"</span><span class="nt">&gt;</span>Light<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-light">Light</button>
    </div>

    <div class="alt-rendered">
        <div class="bg-dark p-1">
            <button type="button" class="btn btn-light">Light</button>
        </div>
    </div>

</div>

<div id="data-btn-dark">
    <div class="display-title">

        btn-dark

    </div>

    <div class="clipboard">btn-dark</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-dark"</span><span class="nt">&gt;</span>Dark<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-dark">Dark</button>
    </div>

</div>

<div id="data-btn-link">
    <div class="display-title">

        btn-link

    </div>

    <div class="clipboard">btn-link</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-link"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-link">Link</button>
    </div>

</div>

<div id="data-btn-outline-primary">
    <div class="display-title">

        btn-outline-primary

    </div>

    <div class="clipboard">btn-outline-primary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-outline-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>

</div>

<div id="data-btn-outline-secondary">
    <div class="display-title">

        btn-outline-secondary

    </div>

    <div class="clipboard">btn-outline-secondary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-outline-secondary"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>

</div>

<div id="data-btn-outline-success">
    <div class="display-title">

        btn-outline-success

    </div>

    <div class="clipboard">btn-outline-success</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-outline-success"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-outline-success">Success</button>
    </div>

</div>

<div id="data-btn-outline-info">
    <div class="display-title">

        btn-outline-info

    </div>

    <div class="clipboard">btn-outline-info</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-outline-info"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-outline-info">Info</button>
    </div>

</div>

<div id="data-btn-outline-warning">
    <div class="display-title">

        btn-outline-warning

    </div>

    <div class="clipboard">btn-outline-warning</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-outline-warning"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-outline-warning">Warning</button>
    </div>

</div>

<div id="data-btn-outline-danger">
    <div class="display-title">

        btn-outline-danger

    </div>

    <div class="clipboard">btn-outline-danger</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-outline-danger"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-outline-danger">Danger</button>
    </div>

</div>

<div id="data-btn-outline-light">
    <div class="display-title">

        btn-outline-light

    </div>

    <div class="clipboard">btn-outline-light</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-outline-light"</span><span class="nt">&gt;</span>Light<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-outline-light">Light</button>
    </div>

    <div class="alt-rendered">
        <div class="bg-dark p-1">
            <button type="button" class="btn btn-outline-light">Light</button>
        </div>
    </div>

</div>

<div id="data-btn-outline-dark">
    <div class="display-title">

        btn-outline-dark

    </div>

    <div class="clipboard">btn-outline-dark</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-outline-dark"</span><span class="nt">&gt;</span>Dark<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-outline-dark">Dark</button>
    </div>

</div>

<div id="data-click-animation">
    <div class="display-title">

        click-animation

    </div>

    <div class="clipboard">click-animation</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary click-animation"</span><span class="nt">&gt;</span>Click here<span class="nt">&lt;/button&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-primary click-animation">Click here</button>
    </div>

</div>
<div id="data-btn-rounded">
    <div class="display-title">

        btn-rounded

    </div>

    <div class="clipboard">btn-rounded</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary btn-rounded"</span><span class="nt">&gt;</span>Primary Rounded Corner<span class="nt">&lt;/button&gt;</span></code>
</pre>
        </figure>
    </div>
    <div class="rendered">
        <button type="button" class="btn btn-primary btn-rounded">Primary Rounded Corner</button>
    </div>


</div>