<div class="category">
    <h3 class="category-heading">
        Carousel

        <span class="float-right">
            <a class="doc-link"
               data-original-title="See official documentation"
               target="_blank"
               href="https://getbootstrap.com/docs/4.0/components/carousel/">
                <i class="fa fa-question-circle"></i>
            </a>
        </span>

    </h3>
    <ul>

        <li class="item-element hide-print">
            <a href="#carousel__slide" id="item-carousel__slide" class="item-link">
                <span>

                    carousel slide

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="carousel slide"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-carousel__slide"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#carousel-fade" id="item-carousel-fade" class="item-link">
                <span>

                    carousel-fade

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="carousel-fade"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-carousel-fade"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#carousel-indicators" id="item-carousel-indicators" class="item-link">
                <span>

                    carousel-indicators

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="carousel-indicators"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-carousel-indicators"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#carousel-caption" id="item-carousel-caption" class="item-link">
                <span>

                    carousel-caption

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="carousel-caption"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-carousel-caption"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

    </ul>
</div>