<div class="category">
    <h3 class="category-heading">
        Collapse

        <span class="float-right">
            <a class="doc-link"
               data-original-title="See official documentation"
               target="_blank"
               href="https://getbootstrap.com/docs/4.0/components/collapse/">
                <i class="fa fa-question-circle"></i>
            </a>
        </span>

    </h3>
    <ul>

        <li class="item-element hide-print">
            <a href="#collapse" id="item-collapse" class="item-link">
                <span>

                    collapse

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   id="copy-collapse"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#accordion" id="item-accordion" class="item-link">
                <span>

                    accordion

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   id="copy-accordion"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

    </ul>
</div>