
<div id="data-container">
    <div class="display-title">

        container

    </div>

    <div class="clipboard">container</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <!-- Content here -->
        </div>
    </div>

    <div class="alt-rendered">
        <div class="bd-example">
            <div class="bd-example-container">
                <div class="bd-example-container-header"></div>
                <div class="bd-example-container-sidebar"></div>
                <div class="bd-example-container-body"></div>
            </div>
        </div>
    </div>

</div>

<div id="data-container-fluid">
    <div class="display-title">

        container-fluid

    </div>

    <div class="clipboard">container-fluid</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container-fluid"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- A fluid container that uses the full witdh --&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container-fluid">
            <!-- A fluid container that uses the full witdh -->
        </div>
    </div>

    <div class="alt-rendered">
        <div class="bd-example">
            <div class="bd-example-container bd-example-container-fluid">
                <div class="bd-example-container-header"></div>
                <div class="bd-example-container-sidebar"></div>
                <div class="bd-example-container-body"></div>
            </div>
        </div>
    </div>

</div>

<div id="data-row">
    <div class="display-title">

        row

    </div>

    <div class="clipboard">row</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- col- elements here --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row">
                <!-- col- elements here -->
            </div>
        </div>
    </div>

    <div class="alt-rendered">No preview available for this one.</div>

</div>

<div id="data-col-1">
    <div class="display-title">

        col-# (<i class="fa fa-mobile screenindicator"></i> &lt;576px)

    </div>

    <div class="clipboard">col-1</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-8"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <!-- Content -->
                </div>
                <div class="col-2">
                    <!-- Content -->
                </div>
                <div class="col-8">
                    <!-- Content -->
                </div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col-2">
                    col-2
                </div>
                <div class="col-2">
                    col-2
                </div>
                <div class="col-8">
                    col-8
                </div>
            </div>
        </div>
    </div>

</div>

<div id="data-col-sm-1">
    <div class="display-title">

        col-sm-# (<i class="fa fa-mobile screenindicator"></i> ≥576px)

    </div>

    <div class="clipboard">col-sm-1</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-8"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <!-- Content -->
                </div>
                <div class="col-sm-2">
                    <!-- Content -->
                </div>
                <div class="col-sm-8">
                    <!-- Content -->
                </div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col-sm-2">
                    col-sm-2
                </div>
                <div class="col-sm-2">
                    col-sm-2
                </div>
                <div class="col-sm-8">
                    col-sm-8
                </div>
            </div>
        </div>
    </div>

</div>

<div id="data-col-md-1">
    <div class="display-title">

        col-md-# (<i class="fa fa-tablet screenindicator"></i> ≥768px)

    </div>

    <div class="clipboard">col-md-1</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-8"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!-- Content -->
                </div>
                <div class="col-md-2">
                    <!-- Content -->
                </div>
                <div class="col-md-8">
                    <!-- Content -->
                </div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col-md-2">
                    col-md-2
                </div>
                <div class="col-md-2">
                    col-md-2
                </div>
                <div class="col-md-8">
                    col-md-8
                </div>
            </div>
        </div>
    </div>

</div>

<div id="data-col-lg-1">
    <div class="display-title">

        col-lg-# (<i class="fa fa-laptop screenindicator"></i> ≥992px)

    </div>

    <div class="clipboard">col-lg-1</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-lg-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-lg-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-lg-8"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <!-- Content -->
                </div>
                <div class="col-lg-2">
                    <!-- Content -->
                </div>
                <div class="col-lg-8">
                    <!-- Content -->
                </div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col-lg-2">
                    col-lg-2
                </div>
                <div class="col-lg-2">
                    col-lg-2
                </div>
                <div class="col-lg-8">
                    col-lg-8
                </div>
            </div>
        </div>
    </div>

</div>

<div id="data-col-xl-1">
    <div class="display-title">

        col-xl-# (<i class="fa fa-desktop screenindicator"></i> ≥1200px)

    </div>

    <div class="clipboard">col-xl-1</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xl-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xl-2"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xl-8"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row">
                <div class="col-xl-2">
                    <!-- Content -->
                </div>
                <div class="col-xl-2">
                    <!-- Content -->
                </div>
                <div class="col-xl-8">
                    <!-- Content -->
                </div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col-xl-2">
                    col-xl-2
                </div>
                <div class="col-xl-2">
                    col-xl-2
                </div>
                <div class="col-xl-8">
                    col-xl-8
                </div>
            </div>
        </div>
    </div>

</div>

<div id="data-col">
    <div class="display-title">

        col

    </div>

    <div class="clipboard">col</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Equal width cols, same on all screen sizes --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span class="nt">&gt;</span>
      1 of 3
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span class="nt">&gt;</span>
      1 of 3
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span class="nt">&gt;</span>
      1 of 3
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <!-- Equal width cols, same on all screen sizes -->
        <div class="container">
            <div class="row">
                <div class="col">
                    1 of 3
                </div>
                <div class="col">
                    1 of 3
                </div>
                <div class="col">
                    1 of 3
                </div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col">
                    1 of 3
                </div>
                <div class="col">
                    1 of 3
                </div>
                <div class="col">
                    1 of 3
                </div>
            </div>
        </div>
    </div>

</div>

<div id="data-col-sm">
    <div class="display-title">

        col-*

    </div>

    <div class="clipboard">col-sm</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- responsive equal width cols, can be sm, md, lg, or xl --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span class="nt">&gt;</span>1 of 3<span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span class="nt">&gt;</span>1 of 3<span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span class="nt">&gt;</span>1 of 3<span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <!-- responsive equal width cols, can be sm, md, lg, or xl -->
        <div class="container">
            <div class="row">
                <div class="col-sm">1 of 3</div>
                <div class="col-sm">1 of 3</div>
                <div class="col-sm">1 of 3</div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col-sm">1 of 3</div>
                <div class="col-sm">1 of 3</div>
                <div class="col-sm">1 of 3</div>
            </div>
        </div>
    </div>

</div>

<div id="data-no-gutters">
    <div class="display-title">

        no-gutters

    </div>

    <div class="clipboard">no-gutters</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row no-gutters"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-12 col-sm-6 col-md-8"</span><span class="nt">&gt;</span>.col-12 .col-sm-6 .col-md-8<span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-6 col-md-4"</span><span class="nt">&gt;</span>.col-6 .col-md-4<span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-md-8">.col-12 .col-sm-6 .col-md-8</div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-md-8">.col-12 .col-sm-6 .col-md-8</div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>
        </div>
    </div>

</div>

<div id="data-offset-1">
    <div class="display-title">

        offset-*-#

    </div>

    <div class="clipboard">offset-6</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-3 offset-6"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="c">&lt;!-- This class can be used with responsive classes such as -md- as well: --&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3 offset-md-6"</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- Content --&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row">
                <div class="col-3 offset-6">
                    <!-- Content -->
                </div>
            </div>
            <!-- This class can be used with responsive classes such as -md- as well: -->
            <div class="row">
                <div class="col-md-3 offset-md-6">
                    <!-- Content -->
                </div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col-3 offset-6">
                    col-3 offset-6
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 offset-md-6">
                    col-md-3 offset-md-6
                </div>
            </div>
        </div>
    </div>

</div>

<div id="data-order-1">
    <div class="display-title">

        order-#

    </div>

    <div class="clipboard">order-1</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span class="nt">&gt;</span>
      First, but unordered
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col order-12"</span><span class="nt">&gt;</span>
      Second, but last
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col order-1"</span><span class="nt">&gt;</span>
      Third, but first
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- responsive variations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col order-sm-3"</span><span class="nt">&gt;</span>Ordered column<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col order-md-3"</span><span class="nt">&gt;</span>Ordered column<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col order-lg-3"</span><span class="nt">&gt;</span>Ordered column<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col order-xl-3"</span><span class="nt">&gt;</span>Ordered column<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="container">
            <div class="row">
                <div class="col">
                    First, but unordered
                </div>
                <div class="col order-12">
                    Second, but last
                </div>
                <div class="col order-1">
                    Third, but first
                </div>
            </div>
        </div>

        <!-- responsive variations -->
        <div class="col order-sm-3">Ordered column</div>
        <div class="col order-md-3">Ordered column</div>
        <div class="col order-lg-3">Ordered column</div>
        <div class="col order-xl-3">Ordered column</div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col">
                    First, but unordered
                </div>
                <div class="col order-12">
                    Second, but last
                </div>
                <div class="col order-1">
                    Third, but first
                </div>
            </div>
        </div>
    </div>

</div>

<div id="data-nested__columns">
    <div class="display-title">

        nested columns

    </div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-9"</span><span class="nt">&gt;</span>
    Level 1: .col-sm-9
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-8 col-sm-6"</span><span class="nt">&gt;</span>
        Level 2: .col-8 .col-sm-6
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-4 col-sm-6"</span><span class="nt">&gt;</span>
        Level 2: .col-4 .col-sm-6
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="row">
            <div class="col-sm-9">
                Level 1: .col-sm-9
                <div class="row">
                    <div class="col-8 col-sm-6">
                        Level 2: .col-8 .col-sm-6
                    </div>
                    <div class="col-4 col-sm-6">
                        Level 2: .col-4 .col-sm-6
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alt-rendered">
        <div class="container gridpreview">
            <div class="row">
                <div class="col-sm-9">
                    Level 1: .col-sm-9
                    <div class="row">
                        <div class="col-8 col-sm-6">
                            Level 2: .col-8 .col-sm-6
                        </div>
                        <div class="col-4 col-sm-6">
                            Level 2: .col-4 .col-sm-6
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>