<div id="data-img-fluid">
    <div class="display-title">

        img-fluid

    </div>

    <div class="clipboard">img-fluid</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"/images/pathToYourImage.png"</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">alt=</span><span class="s">"Responsive image"</span><span class="nt">&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><img src="images/1.jpg" class="img-fluid" style="height:300px;" alt="Responsive image"></div>


</div>

<div id="data-img-thumbnail">
    <div class="display-title">

        img-thumbnail

    </div>

    <div class="clipboard">img-thumbnail</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"img-thumbnail"</span> <span class="na">src=</span><span class="s">"/images/pathToYourImage.png"</span> <span class="na">alt=</span><span class="s">"Thumbnail image"</span><span class="nt">&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><img class="img-thumbnail" src="images/3.jpg" style="height:300px;" alt="Thumbnail image"></div>


</div>