<div class="modal" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal1Label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="exampleModalVertical" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalVerticalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--Swim Modal Basic-->
<div class="modal swim swim-alert" id="swimmodalbasic" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Basic Message</h2>
                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Swim Modal Success-->
<div class="modal swim quicktime swim-alert" id="swimmodalsuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="sa-icon sa-success animate">
                    <span class="sa-line sa-tip animateSuccessTip"></span>
                    <span class="sa-line sa-long animateSuccessLong"></span>

                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
                <h2>Success Message</h2>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!--Swim Modal Warning-->
<div class="modal swim quicktime swim-alert" id="swimmodalwarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="sa-icon sa-warning pulseWarning">
                    <span class="sa-body pulseWarningIns"></span>
                    <span class="sa-dot pulseWarningIns"></span>
                </div>
                <h2>Are you sure?</h2>
                <p class="lead text-muted">Your will not be able to recover this imaginary file!</p>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning btn-lg">Warning</button>
            </div>
        </div>
    </div>
</div>
<!--Swim Modal Cancel-->
<div class="modal swim quicktime swim-alert" id="swimmodalcancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="sa-icon sa-error animateErrorIcon">
                    <span class="sa-x-mark animateXMark">
                        <span class="sa-line sa-left"></span>
                        <span class="sa-line sa-right"></span>
                    </span>
                </div>
                <h2>Canceled</h2>
                <p class="lead text-muted">Error or Cancel Process</p>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal swim" id="exampleswimModal2" tabindex="-1" role="dialog" aria-labelledby="exampleswimModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

<div class="showcase hide-print" id="showcase">
    <a id="close-showcase" href="#!"><i class="fa fa-close"></i></a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="ht-font showcase-title">Code snippet</h3>
                <div class="showbox-wrapper">
                    <div class="showbox-copy-buttons">
                        <!--<span class="showbox-copy-caption">Copy</span>-->
                        <!--<a id="showbox-copy-class"-->
                        <!--class="showbox-copy" -->
                        <!--data-original-title="Class name to clipboard" -->
                        <!--href="#">Class</a>-->
                        <a id="showbox-copy"
                           class="showbox-copy"
                           data-original-title="Code snippet to clipboard"
                           href="#">Copy</a>
                    </div>
                    <div id="showbox-code" class="showbox code">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="ht-font showcase-title">Preview</h3>
                <div id="showbox-example" class="showbox">
                    <!--here's where the sample code will be pasted-->
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <a href="#" id="previous-item-link" class="arrow-nav">
            <i class="fa fa-arrow-left"></i>
        </a>
        <span id="current-item-title" class="ht-font">
            btn-primary
        </span>
        <a id="next-item-link" href="#" class="arrow-nav">
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
</div>

