<div id="data-swim-basic">
    <div class="display-title">

        Swim Basic message

    </div>

    <div class="clipboard">swim</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Button trigger modal --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">data-toggle=</span><span class="s">"modal"</span> <span class="na">data-target=</span><span class="s">"#swimmodalbasic"</span><span class="nt">&gt;</span>
  Basic message
<span class="nt">&lt;/button&gt;</span>
<span class="c">&lt;!-- Modal --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal swim"</span> <span class="na">id=</span><span class="s">"swimmodalbasic"</span> <span class="na">tabindex=</span><span class="s">"-1"</span> <span class="na">role=</span><span class="s">"dialog"</span> <span class="na">aria-labelledby=</span><span class="s">"exampleModal3Label"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-dialog"</span> <span class="na">role=</span><span class="s">"document"</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-body"</span><span class="nt">&gt;</span>
<span class="nt">&lt;h2&gt;</span>Basic Message<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary btn-lg"</span> <span class="na">data-dismiss=</span><span class="s">"modal"</span><span class="nt">&gt;</span>Close<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <!-- Button trigger modal -->
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#swimmodalbasic">Basic message</button>

        <!--Swim Modal Basic-->
        <div class="modal swim swim-alert" id="swimmodalbasic" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2>Basic Message</h2>
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="alt-rendered">
        <!-- Button trigger modal -->
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#swimmodalbasic">Basic message</button>
    </div>

</div>
<div id="data-swim-success">
    <div class="display-title">

        Swim Success Message

    </div>
    <div class="clipboard">swim</div>
    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Button trigger modal --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">data-toggle=</span><span class="s">"modal"</span> <span class="na">data-target=</span><span class="s">"#swimmodalsuccess"</span><span class="nt">&gt;</span>
  Success message
<span class="nt">&lt;/button&gt;</span>
<span class="c">&lt;!-- Modal --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal swim swim-alert"</span> <span class="na">id=</span><span class="s">"swimmodalsuccess"</span> <span class="na">tabindex=</span><span class="s">"-1"</span> <span class="na">role=</span><span class="s">"dialog"</span> <span class="na">aria-labelledby=</span><span class="s">"exampleModal3Label"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-dialog"</span> <span class="na">role=</span><span class="s">"document"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-content"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-body"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sa-icon sa-success animate"</span><span class="nt">&gt;</span><span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sa-line sa-tip animateSuccessTip"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sa-line sa-long animateSuccessLong"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sa-placeholder"</span><span class="nt">&gt;</span><span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sa-fix"</span><span class="nt">&gt;</span><span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;h2&gt;</span>Success Message<span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary btn-lg"</span> <span class="na">data-dismiss=</span><span class="s">"modal"</span><span class="nt">&gt;</span>Close<span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#swimmodalsuccess1">Success Message</button>
        <!--Swim Alert-->
        <div class="modal swim swim-alert" id="swimmodalsuccess1" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="sa-icon sa-success animate">
                            <span class="sa-line sa-tip animateSuccessTip"></span>
                            <span class="sa-line sa-long animateSuccessLong"></span>

                            <div class="sa-placeholder"></div>
                            <div class="sa-fix"></div>
                        </div>
                        <h2>Success Message</h2>
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alt-rendered">
        <!-- Button trigger modal -->
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#swimmodalsuccess">Success Message</button>
    </div>
</div>

<div id="data-swim-warning">
    <div class="display-title">

        Swim Warning Message

    </div>
    <div class="clipboard">swim</div>
    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Button trigger modal --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">data-toggle=</span><span class="s">"modal"</span> <span class="na">data-target=</span><span class="s">"#swimmodalsuccess"</span><span class="nt">&gt;</span>
  Success message
<span class="nt">&lt;/button&gt;</span>
<span class="c">&lt;!-- Modal --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal swim swim-alert"</span> <span class="na">id=</span><span class="s">"swimmodalsuccess"</span> <span class="na">tabindex=</span><span class="s">"-1"</span> <span class="na">role=</span><span class="s">"dialog"</span> <span class="na">aria-labelledby=</span><span class="s">"exampleModal3Label"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-dialog"</span> <span class="na">role=</span><span class="s">"document"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-content"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-body"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sa-icon sa-warning pulseWarning"</span><span class="nt">&gt;</span><span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sa-body pulseWarningIns"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sa-dot pulseWarningIns"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;h2&gt;</span>Are you sure?<span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"lead text-muted"</span><span class="nt">&gt;</span>Your will not be able to recover this imaginary file!<span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-defalt btn-lg"</span> <span class="na">data-dismiss=</span><span class="s">"modal"</span><span class="nt">&gt;</span>Close<span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-warning btn-lg"</span><span class="nt">&gt;</span>Waring<span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#swimmodalwarning">Warning Message</button>
        <!--Swim Modal Warning-->
        <div class="modal swim swim-alert" id="swimmodalwarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="sa-icon sa-warning pulseWarning">
                            <span class="sa-body pulseWarningIns"></span>
                            <span class="sa-dot pulseWarningIns"></span>
                        </div>
                        <h2>Are you sure?</h2>
                        <p class="lead text-muted">Your will not be able to recover this imaginary file!</p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning btn-lg">Warning</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alt-rendered">
        <!-- Button trigger modal -->
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#swimmodalwarning">Warning Message</button>
    </div>
</div>

<div id="data-swim-cancel">
    <div class="display-title">

        Swim Cancel Message

    </div>
    <div class="clipboard">swim</div>
    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Button trigger modal --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">data-toggle=</span><span class="s">"modal"</span> <span class="na">data-target=</span><span class="s">"#swimmodalcancel"</span><span class="nt">&gt;</span>
  Success message
<span class="nt">&lt;/button&gt;</span>
<span class="c">&lt;!-- Modal --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal swim swim-alert"</span> <span class="na">id=</span><span class="s">"swimmodalcancel"</span> <span class="na">tabindex=</span><span class="s">"-1"</span> <span class="na">role=</span><span class="s">"dialog"</span> <span class="na">aria-labelledby=</span><span class="s">"exampleModal3Label"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-dialog"</span> <span class="na">role=</span><span class="s">"document"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-content"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-body"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sa-icon sa-error animateErrorIcon"</span>&gt;</span><span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sa-x-mark animateXMark"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sa-line sa-left"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sa-line sa-right"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;h2&gt;</span>Canceled<span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"lead text-muted"</span>&gt;</span>Error or Cancel Process<span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-danger btn-lg"</span> <span class="na">data-dismiss=</span><span class="s">"modal"</span><span class="nt">&gt;</span>Cancel<span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#swimmodalcancel">Cancel Message</button>
        <!--Swim Alert-->
        <!--Swim Modal Cancel-->
        <div class="modal swim swim-alert" id="swimmodalcancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="sa-icon sa-error animateErrorIcon">
                            <span class="sa-x-mark animateXMark">
                                <span class="sa-line sa-left"></span>
                                <span class="sa-line sa-right"></span>
                            </span>
                        </div>
                        <h2>Canceled</h2>
                        <p class="lead text-muted">Error or Cancel Process</p>
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alt-rendered">
        <!-- Button trigger modal -->
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#swimmodalcancel">Cancel Message</button>
    </div>
</div>