<div id="data-bg-primary">
    <div class="display-title">

        bg-primary

    </div>

    <div class="clipboard">bg-primary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-primary text-white"</span><span class="nt">&gt;</span>Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-primary text-white">Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
    </div>

</div>

<div id="data-bg-secondary">
    <div class="display-title">

        bg-secondary

    </div>

    <div class="clipboard">bg-secondary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-secondary text-white"</span><span class="nt">&gt;</span>Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-secondary text-white">Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
    </div>

</div>

<div id="data-bg-success">
    <div class="display-title">

        bg-success

    </div>

    <div class="clipboard">bg-success</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-success text-white"</span><span class="nt">&gt;</span>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-success text-white">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</div>
    </div>

</div>

<div id="data-bg-info">
    <div class="display-title">

        bg-info

    </div>

    <div class="clipboard">bg-info</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-info text-white"</span><span class="nt">&gt;</span>Maecenas sed diam eget risus varius blandit sit amet non magna.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-info text-white">Maecenas sed diam eget risus varius blandit sit amet non magna.</div>
    </div>

</div>

<div id="data-bg-warning">
    <div class="display-title">

        bg-warning

    </div>

    <div class="clipboard">bg-warning</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-warning text-white"</span><span class="nt">&gt;</span>Etiam porta sem malesuada magna mollis euismod.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-warning text-white">Etiam porta sem malesuada magna mollis euismod.</div>
    </div>

</div>

<div id="data-bg-danger">
    <div class="display-title">

        bg-danger

    </div>

    <div class="clipboard">bg-danger</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-danger text-white"</span><span class="nt">&gt;</span>Donec ullamcorper nulla non metus auctor fringilla.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-danger text-white">Donec ullamcorper nulla non metus auctor fringilla.</div>
    </div>

</div>

<div id="data-bg-light">
    <div class="display-title">

        bg-light

    </div>

    <div class="clipboard">bg-light</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-light"</span><span class="nt">&gt;</span>Cras mattis consectetur purus sit amet fermentum.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-light">Cras mattis consectetur purus sit amet fermentum.</div>
    </div>

</div>

<div id="data-bg-dark">
    <div class="display-title">

        bg-dark

    </div>

    <div class="clipboard">bg-dark</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-dark text-white"</span><span class="nt">&gt;</span>Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-dark text-white">Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
    </div>

</div>

<div id="data-bg-white">
    <div class="display-title">

        bg-white

    </div>

    <div class="clipboard">bg-white</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"bg-white"</span><span class="nt">&gt;</span>Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="bg-white">Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
    </div>

</div>

<div id="data-text-primary">
    <div class="display-title">

        text-primary

    </div>

    <div class="clipboard">text-primary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-primary"</span><span class="nt">&gt;</span>Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>

</div>

<div id="data-text-secondary">
    <div class="display-title">

        text-secondary

    </div>

    <div class="clipboard">text-secondary</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-secondary"</span><span class="nt">&gt;</span>Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-secondary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>

</div>

<div id="data-text-success">
    <div class="display-title">

        text-success

    </div>

    <div class="clipboard">text-success</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-success"</span><span class="nt">&gt;</span>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
    </div>

</div>

<div id="data-text-info">
    <div class="display-title">

        text-info

    </div>

    <div class="clipboard">text-info</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-info"</span><span class="nt">&gt;</span>Maecenas sed diam eget risus varius blandit sit amet non magna.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

</div>

<div id="data-text-warning">
    <div class="display-title">

        text-warning

    </div>

    <div class="clipboard">text-warning</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-warning"</span><span class="nt">&gt;</span>Etiam porta sem malesuada magna mollis euismod.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
    </div>

</div>

<div id="data-text-danger">
    <div class="display-title">

        text-danger

    </div>

    <div class="clipboard">text-danger</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-danger"</span><span class="nt">&gt;</span>Donec ullamcorper nulla non metus auctor fringilla.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>

</div>

<div id="data-text-light">
    <div class="display-title">

        text-light

    </div>

    <div class="clipboard">text-light</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-light"</span><span class="nt">&gt;</span>Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-light">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>

    <div class="alt-rendered">
        <div class="bg-dark">
            <p class="text-light">Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
    </div>

</div>

<div id="data-text-dark">
    <div class="display-title">

        text-dark

    </div>

    <div class="clipboard">text-dark</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-dark"</span><span class="nt">&gt;</span>Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-dark">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>

</div>

<div id="data-text-white">
    <div class="display-title">

        text-white

    </div>

    <div class="clipboard">text-white</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-white"</span><span class="nt">&gt;</span>Donec ullamcorper nulla non metus auctor fringilla.<span class="nt">&lt;/p&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <p class="text-white">Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>

    <div class="alt-rendered">
        <div class="bg-dark">
            <p class="text-white">Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
    </div>

</div>

<div id="data-color-white">
    <div class="display-title">

        color-*

    </div>

    <div class="clipboard">color-white</div>

    <div class="code">
        <figure class="highlight"><div class="col-12">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <p><i class="lbs-cloud color-blue"></i> color-blue</p>
                    <p><i class="lbs-cloud color-black-blue"></i> color-black-blue</p>
                    <p><i class="lbs-cloud color-blue-grey"></i> color-blue-grey</p>
                    <p><i class="lbs-cloud color-blue-grey-lighter"></i> color-blue-grey-lighter</p>
                    <p><i class="lbs-cloud color-purple"></i> color-purple</p>
                    <p><i class="lbs-cloud color-yellow"></i> color-yellow</p>
                    <p><i class="lbs-cloud color-lime"></i> color-lime</p>
                    <p><i class="lbs-cloud color-green"></i> color-green</p>
                </div>
                <div class="col-md-4">
                    <p><i class="lbs-cloud color-red"></i> color-red</p>
                    <p><i class="lbs-cloud color-orange"></i> color-orange</p>
                    <p><i class="lbs-cloud color-brown"></i> color-brown</p>
                    <p><i class="lbs-cloud color-gold"></i> color-gold</p>
                    <p><i class="lbs-cloud color-orange-red"></i> color-orange-red</p>
                    <p><i class="lbs-cloud color-gray"></i> color-gray</p>
                    <p><i class="lbs-cloud color-aquamarine"></i> color-aquamarine</p>
                    <p><i class="lbs-cloud color-turquoise"></i> color-turquoise</p>
                </div>
                <div class="col-md-4">
                    <p><i class="lbs-cloud color-magenta"></i> color-magenta</p>
                    <p><i class="lbs-cloud color-blue-dirty"></i> color-blue-dirty</p>
                    <p><i class="lbs-cloud color-coral"></i> color-coral</p>
                    <p><i class="lbs-cloud color-pink-red"></i> color-pink-red</p>
                    <p><i class="lbs-cloud color-pink"></i> color-pink</p>
                    <p><i class="lbs-cloud color-blue-darker"></i> color-blue-darker</p>
                    <p><i class="lbs-cloud color-blue-sky"></i> color-blue-sky</p>
                </div>
            </div>
        </div></figure>
    </div>
    <div class="rendered">
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <p><i class="lbs-cloud bg-blue color-white p-3"></i> bg-blue</p>
                    <p><i class="lbs-cloud bg-black-blue color-white p-3"></i> bg-black-blue</p>
                    <p><i class="lbs-cloud bg-blue-grey color-white p-3"></i> bg-blue-grey</p>
                    <p><i class="lbs-cloud bg-blue-grey-lighter color-white p-3"></i> bg-blue-grey-lighter</p>
                    <p><i class="lbs-cloud bg-purple color-white p-3"></i> bg-purple</p>
                    <p><i class="lbs-cloud bg-yellow color-white p-3"></i> bg-yellow</p>
                    <p><i class="lbs-cloud bg-lime color-white p-3"></i> bg-lime</p>
                    <p><i class="lbs-cloud bg-green color-white p-3"></i> bg-green</p>
                </div>
                <div class="col-md-4">
                    <p><i class="lbs-cloud bg-red color-white p-3"></i> bg-red</p>
                    <p><i class="lbs-cloud bg-orange color-white p-3"></i> bg-orange</p>
                    <p><i class="lbs-cloud bg-brown color-white p-3"></i> bg-brown</p>
                    <p><i class="lbs-cloud bg-gold color-white p-3"></i> bg-gold</p>
                    <p><i class="lbs-cloud bg-orange-red color-white p-3"></i> bg-orange-red</p>
                    <p><i class="lbs-cloud bg-gray color-white p-3"></i> bg-gray</p>
                    <p><i class="lbs-cloud bg-aquamarine color-white p-3"></i> bg-aquamarine</p>
                    <p><i class="lbs-cloud bg-turquoise color-white p-3"></i> bg-turquoise</p>
                </div>
                <div class="col-md-4">
                    <p><i class="lbs-cloud bg-magenta color-white p-3"></i> bg-magenta</p>
                    <p><i class="lbs-cloud bg-blue-dirty color-white p-3"></i> bg-blue-dirty</p>
                    <p><i class="lbs-cloud bg-coral color-white p-3"></i> bg-coral</p>
                    <p><i class="lbs-cloud bg-pink-red color-white p-3"></i> bg-pink-red</p>
                    <p><i class="lbs-cloud bg-pink color-white p-3"></i> bg-pink</p>
                    <p><i class="lbs-cloud bg-blue-darker color-white p-3"></i> bg-blue-darker</p>
                    <p><i class="lbs-cloud bg-blue-sky color-white p-3"></i> bg-blue-sky</p>
                </div>
            </div>
        </div>
    </div>

</div>