
<div id="data-d-block">
    <div class="display-title">

        d-*-block

    </div>

    <div class="clipboard">d-block</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-block bg-primary"</span><span class="nt">&gt;</span>d-block<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-sm-block bg-primary"</span><span class="nt">&gt;</span>d-sm-block<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-md-block bg-primary"</span><span class="nt">&gt;</span>d-md-block<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-lg-block bg-primary"</span><span class="nt">&gt;</span>d-lg-block<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-xl-block bg-primary"</span><span class="nt">&gt;</span>d-xl-block<span class="nt">&lt;/span&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <span class="d-block bg-primary">d-block</span>
        <span class="d-sm-block bg-primary">d-sm-block</span>
        <span class="d-md-block bg-primary">d-md-block</span>
        <span class="d-lg-block bg-primary">d-lg-block</span>
        <span class="d-xl-block bg-primary">d-xl-block</span>
    </div>

</div>

<div id="data-d-flex">
    <div class="display-title">

        d-*-flex

    </div>

    <div class="clipboard">d-flex</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-flex bg-primary"</span><span class="nt">&gt;</span>d-flex<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-sm-flex bg-primary"</span><span class="nt">&gt;</span>d-sm-flex<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-md-flex bg-primary"</span><span class="nt">&gt;</span>d-md-flex<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-lg-flex bg-primary"</span><span class="nt">&gt;</span>d-lg-flex<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-xl-flex bg-primary"</span><span class="nt">&gt;</span>d-xl-flex<span class="nt">&lt;/span&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="d-flex bg-primary">d-flex</div>
        <span class="d-sm-flex bg-primary">d-sm-flex</span>
        <span class="d-md-flex bg-primary">d-md-flex</span>
        <span class="d-lg-flex bg-primary">d-lg-flex</span>
        <span class="d-xl-flex bg-primary">d-xl-flex</span>
    </div>

</div>

<div id="data-d-inline">
    <div class="display-title">

        d-*-inline

    </div>

    <div class="clipboard">d-inline</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-inline bg-primary"</span><span class="nt">&gt;</span>d-inline<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-sm-inline bg-primary"</span><span class="nt">&gt;</span>d-sm-inline<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-md-inline bg-primary"</span><span class="nt">&gt;</span>d-md-inline<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-lg-inline bg-primary"</span><span class="nt">&gt;</span>d-lg-inline<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-xl-inline bg-primary"</span><span class="nt">&gt;</span>d-xl-inline<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="d-inline bg-primary">d-inline</div>
        <div class="d-sm-inline bg-primary">d-sm-inline</div>
        <div class="d-md-inline bg-primary">d-md-inline</div>
        <div class="d-lg-inline bg-primary">d-lg-inline</div>
        <div class="d-xl-inline bg-primary">d-xl-inline</div>
    </div>

</div>

<div id="data-d-inline-block">
    <div class="display-title">

        d-*-inline-block

    </div>

    <div class="clipboard">d-inline-block</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-inline-block bg-primary"</span><span class="nt">&gt;</span>d-inline-block<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-sm-inline-block bg-primary"</span><span class="nt">&gt;</span>d-sm-inline-block<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-md-inline-block bg-primary"</span><span class="nt">&gt;</span>d-md-inline-block<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-lg-inline-block bg-primary"</span><span class="nt">&gt;</span>d-lg-inline-block<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-xl-inline-block bg-primary"</span><span class="nt">&gt;</span>d-xl-inline-block<span class="nt">&lt;/span&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="d-inline-block bg-primary">d-inline-block</div>
        <span class="d-sm-inline-block bg-primary">d-sm-inline-block</span>
        <span class="d-md-inline-block bg-primary">d-md-inline-block</span>
        <span class="d-lg-inline-block bg-primary">d-lg-inline-block</span>
        <span class="d-xl-inline-block bg-primary">d-xl-inline-block</span>
    </div>

</div>

<div id="data-d-inline-flex">
    <div class="display-title">

        d-*-inline-flex

    </div>

    <div class="clipboard">d-inline-flex</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-inline-flex bg-primary"</span><span class="nt">&gt;</span>d-inline-flex<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-sm-inline-flex bg-primary"</span><span class="nt">&gt;</span>d-sm-inline-flex<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-md-inline-flex bg-primary"</span><span class="nt">&gt;</span>d-md-inline-flex<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-lg-inline-flex bg-primary"</span><span class="nt">&gt;</span>d-lg-inline-flex<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-xl-inline-flex bg-primary"</span><span class="nt">&gt;</span>d-xl-inline-flex<span class="nt">&lt;/span&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="d-inline-flex bg-primary">d-inline-flex</div>
        <span class="d-sm-inline-flex bg-primary">d-sm-inline-flex</span>
        <span class="d-md-inline-flex bg-primary">d-md-inline-flex</span>
        <span class="d-lg-inline-flex bg-primary">d-lg-inline-flex</span>
        <span class="d-xl-inline-flex bg-primary">d-xl-inline-flex</span>
    </div>

</div>

<div id="data-d-none">
    <div class="display-title">

        d-*-none

    </div>

    <div class="clipboard">d-none</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-none"</span><span class="nt">&gt;</span>d-none"&gt;This<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-sm-none bg-primary"</span><span class="nt">&gt;</span>d-sm-none<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-md-none bg-primary"</span><span class="nt">&gt;</span>d-md-none<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-lg-none bg-primary"</span><span class="nt">&gt;</span>d-lg-none<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-xl-none bg-primary"</span><span class="nt">&gt;</span>d-xl-none<span class="nt">&lt;/span&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="d-none">d-none">This</div>
        <span class="d-sm-none bg-primary">d-sm-none</span>
        <span class="d-md-none bg-primary">d-md-none</span>
        <span class="d-lg-none bg-primary">d-lg-none</span>
        <span class="d-xl-none bg-primary">d-xl-none</span>
    </div>

    <div class="alt-rendered">No preview available for this one.</div>

</div>

<div id="data-d-table">
    <div class="display-title">

        d-*-table

    </div>

    <div class="clipboard">d-table</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-table bg-primary"</span><span class="nt">&gt;</span>d-table<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-sm-table bg-primary"</span><span class="nt">&gt;</span>d-sm-table<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-md-table bg-primary"</span><span class="nt">&gt;</span>d-md-table<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-lg-table bg-primary"</span><span class="nt">&gt;</span>d-lg-table<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-xl-table bg-primary"</span><span class="nt">&gt;</span>d-xl-table<span class="nt">&lt;/span&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="d-table bg-primary">d-table</div>
        <span class="d-sm-table bg-primary">d-sm-table</span>
        <span class="d-md-table bg-primary">d-md-table</span>
        <span class="d-lg-table bg-primary">d-lg-table</span>
        <span class="d-xl-table bg-primary">d-xl-table</span>
    </div>

</div>

<div id="data-d-table-cell">
    <div class="display-title">

        d-*-table-cell

    </div>

    <div class="clipboard">d-table-cell</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-table-cell bg-primary"</span><span class="nt">&gt;</span>d-table-cell<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-sm-table-cell bg-primary"</span><span class="nt">&gt;</span>d-sm-table-cell<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-md-table-cell bg-primary"</span><span class="nt">&gt;</span>d-md-table-cell<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-lg-table-cell bg-primary"</span><span class="nt">&gt;</span>d-lg-table-cell<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-xl-table-cell bg-primary"</span><span class="nt">&gt;</span>d-xl-table-cell<span class="nt">&lt;/span&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="d-table-cell bg-primary">d-table-cell</div>
        <span class="d-sm-table-cell bg-primary">d-sm-table-cell</span>
        <span class="d-md-table-cell bg-primary">d-md-table-cell</span>
        <span class="d-lg-table-cell bg-primary">d-lg-table-cell</span>
        <span class="d-xl-table-cell bg-primary">d-xl-table-cell</span>
    </div>

</div>

<div id="data-d-print-__">
    <div class="display-title">

        d-print-...

    </div>

    <div class="clipboard">d-print-block</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-print-none"</span><span class="nt">&gt;</span>Doesn't display when printing<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-print-block"</span><span class="nt">&gt;</span>Displays as block when printing<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-print-inline"</span><span class="nt">&gt;</span>Displays as inline when printing<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-print-inline-block"</span><span class="nt">&gt;</span>Displays as inline-block when printing<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="d-print-none">Doesn't display when printing</div>
        <div class="d-print-block">Displays as block when printing</div>
        <div class="d-print-inline">Displays as inline when printing</div>
        <div class="d-print-inline-block">Displays as inline-block when printing</div>
    </div>

    <div class="alt-rendered">No preview available for this one.</div>

</div>