<div class="category">
    <h3 class="category-heading">
        Utility: Display

        <span class="float-right">
            <a class="doc-link"
               data-original-title="See official documentation"
               target="_blank"
               href="https://getbootstrap.com/docs/4.0/utilities/display/">
                <i class="fa fa-question-circle"></i>
            </a>
        </span>

    </h3>
    <ul>

        <li class="item-element hide-print">
            <a href="#d-block" id="item-d-block" class="item-link">
                <span>

                    d-*-block

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-block"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-block"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#d-flex" id="item-d-flex" class="item-link">
                <span>

                    d-*-flex

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-flex"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-flex"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#d-inline" id="item-d-inline" class="item-link">
                <span>

                    d-*-inline

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-inline"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-inline"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#d-inline-block" id="item-d-inline-block" class="item-link">
                <span>

                    d-*-inline-block

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-inline-block"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-inline-block"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#d-inline-flex" id="item-d-inline-flex" class="item-link">
                <span>

                    d-*-inline-flex

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-inline-flex"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-inline-flex"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#d-none" id="item-d-none" class="item-link">
                <span>

                    d-*-none

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-none"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-none"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#d-table" id="item-d-table" class="item-link">
                <span>

                    d-*-table

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-table"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-table"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#d-table-cell" id="item-d-table-cell" class="item-link">
                <span>

                    d-*-table-cell

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-table-cell"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-table-cell"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#d-print-__" id="item-d-print-__" class="item-link">
                <span>

                    d-print-...

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="d-print-block"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-d-print-__"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

    </ul>
</div>