<div class="category">
    <h3 class="category-heading">
        Utility: Flexbox

        <span class="float-right">
            <a class="doc-link"
               data-original-title="See official documentation"
               target="_blank"
               href="https://getbootstrap.com/docs/4.0/utilities/flex/">
                <i class="fa fa-question-circle"></i>
            </a>
        </span>

    </h3>
    <ul>

        <li class="item-element hide-print">
            <a href="#flex-column" id="item-flex-column" class="item-link">
                <span>

                    flex-*-column

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-column"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-column"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-column-reverse" id="item-flex-column-reverse" class="item-link">
                <span>

                    flex-*-column-reverse

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-column-reverse"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-column-reverse"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-row" id="item-flex-row" class="item-link">
                <span>

                    flex-*-row

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-row"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-row"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-row-reverse" id="item-flex-row-reverse" class="item-link">
                <span>

                    flex-*-row-reverse

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-row-reverse"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-row-reverse"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-nowrap" id="item-flex-nowrap" class="item-link">
                <span>

                    flex-*-nowrap

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-nowrap"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-nowrap"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-wrap" id="item-flex-wrap" class="item-link">
                <span>

                    flex-*-wrap

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-wrap"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-wrap"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-wrap-reverse" id="item-flex-wrap-reverse" class="item-link">
                <span>

                    flex-*-wrap-reverse

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-wrap-reverse"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-wrap-reverse"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#flex-fill" id="item-flex-fill" class="item-link">
                <span>

                    flex-fill

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-fill"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-fill"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-grow-1" id="item-flex-grow-1" class="item-link">
                <span>

                    flex-*-grow-1

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-grow-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-grow-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-grow-0" id="item-flex-grow-0" class="item-link">
                <span>

                    flex-*-grow-0

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-grow-0"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-grow-0"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-shrink-1" id="item-flex-shrink-1" class="item-link">
                <span>

                    flex-*-shrink-1

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-shrink-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-shrink-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#flex-shrink-0" id="item-flex-shrink-0" class="item-link">
                <span>

                    flex-*-shrink-0

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="flex-shrink-0"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-flex-shrink-0"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#justify-content-start" id="item-justify-content-start" class="item-link">
                <span>

                    justify-content-*-start

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="justify-content-start"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-justify-content-start"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#justify-content-end" id="item-justify-content-end" class="item-link">
                <span>

                    justify-content-*-end

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="justify-content-end"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-justify-content-end"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#justify-content-center" id="item-justify-content-center" class="item-link">
                <span>

                    justify-content-*-center

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="justify-content-center"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-justify-content-center"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#justify-content-between" id="item-justify-content-between" class="item-link">
                <span>

                    justify-content-*-between

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="justify-content-between"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-justify-content-between"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#justify-content-around" id="item-justify-content-around" class="item-link">
                <span>

                    justify-content-*-around

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="justify-content-around"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-justify-content-around"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-content-start" id="item-align-content-start" class="item-link">
                <span>

                    align-content-*-start

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-content-start"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-content-start"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-content-end" id="item-align-content-end" class="item-link">
                <span>

                    align-content-*-end

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-content-end"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-content-end"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-content-center" id="item-align-content-center" class="item-link">
                <span>

                    align-content-*-center

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-content-center"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-content-center"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-content-around" id="item-align-content-around" class="item-link">
                <span>

                    align-content-*-around

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-content-around"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-content-around"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-content-stretch" id="item-align-content-stretch" class="item-link">
                <span>

                    align-content-*-stretch

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-content-stretch"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-content-stretch"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-items-start" id="item-align-items-start" class="item-link">
                <span>

                    align-items-*-start

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-items-start"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-items-start"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-items-end" id="item-align-items-end" class="item-link">
                <span>

                    align-items-*-end

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-items-end"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-items-end"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-items-center" id="item-align-items-center" class="item-link">
                <span>

                    align-items-*-center

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-items-center"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-items-center"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-items-baseline" id="item-align-items-baseline" class="item-link">
                <span>

                    align-items-*-baseline

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-items-baseline"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-items-baseline"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-items-stretch" id="item-align-items-stretch" class="item-link">
                <span>

                    align-items-*-stretch

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-items-stretch"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-items-stretch"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-self-start" id="item-align-self-start" class="item-link">
                <span>

                    align-self-*-start

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-self-start"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-self-start"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-self-end" id="item-align-self-end" class="item-link">
                <span>

                    align-self-*-end

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-self-end"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-self-end"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-self-center" id="item-align-self-center" class="item-link">
                <span>

                    align-self-*-center

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-self-center"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-self-center"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-self-baseline" id="item-align-self-baseline" class="item-link">
                <span>

                    align-self-*-baseline

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-self-baseline"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-self-baseline"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#align-self-stretch" id="item-align-self-stretch" class="item-link">
                <span>

                    align-self-*-stretch

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="align-self-stretch"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-align-self-stretch"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#order-1__flex" id="item-order-1__flex" class="item-link">
                <span>

                    order-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="order-3"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-order-1__flex"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

    </ul>
</div>