
<div id="data-close">
    <div class="display-title">

        close

    </div>

    <div class="clipboard">close</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"close"</span> <span class="na">aria-label=</span><span class="s">"Close"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span><span class="ni">&amp;times;</span><span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/button&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>

<div id="data-embed-responsive">
    <div class="display-title">

        embed-responsive

    </div>

    <div class="clipboard">embed-responsive</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"embed-responsive embed-responsive-16by9"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;iframe</span> <span class="na">class=</span><span class="s">"embed-responsive-item"</span> <span class="na">src=</span><span class="s">"//www.youtube.com/embed/vr0qNXmkUJ8"</span> <span class="na">allowfullscreen</span><span class="nt">&gt;&lt;/iframe&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/vr0qNXmkUJ8" allowfullscreen></iframe>
        </div>
    </div>

</div>

<div id="data-shadow-none">
    <div class="display-title">

        shadow-none

    </div>

    <div class="clipboard">shadow-none</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"shadow-none p-3 mb-5 bg-light rounded"</span><span class="nt">&gt;</span>No shadow<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
    </div>

</div>

<div id="data-shadow-sm">
    <div class="display-title">

        shadow-sm

    </div>

    <div class="clipboard">shadow-sm</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"shadow-sm p-3 mb-5 bg-light rounded"</span><span class="nt">&gt;</span>Small Shadow shadow<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="shadow-sm p-3 mb-5 bg-light rounded">Small Shadow shadow</div>
    </div>

</div>

<div id="data-shadow">
    <div class="display-title">

        shadow

    </div>

    <div class="clipboard">shadow</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"shadow p-3 mb-5 bg-light rounded"</span><span class="nt">&gt;</span>Regular shadow<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="shadow p-3 mb-5 bg-light rounded">Regular shadow</div>
    </div>

</div>

<div id="data-shadow-lg">
    <div class="display-title">

        shadow-lg

    </div>

    <div class="clipboard">shadow-lg</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"shadow-lg p-3 mb-5 bg-white rounded"</span><span class="nt">&gt;</span>Larger shadow<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>
    </div>

</div>

<div id="data-invisible">
    <div class="display-title">

        invisible

    </div>

    <div class="clipboard">invisible</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"invisible"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="invisible">...</div>
    </div>

    <div class="alt-rendered">No preview available for this one.</div>

</div>

<div id="data-visible">
    <div class="display-title">

        visible

    </div>

    <div class="clipboard">visible</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"visible"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="visible">...</div>
    </div>

    <div class="alt-rendered">No preview available for this one.</div>

</div>

<div id="data-sr-only">
    <div class="display-title">

        sr-only

    </div>

    <div class="clipboard">sr-only</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"sr-only"</span> <span class="na">href=</span><span class="s">"#content"</span><span class="nt">&gt;</span>Skip to main content<span class="nt">&lt;/a&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><a class="sr-only" href="#content">Skip to main content</a></div>

    <div class="alt-rendered">No preview available for this one.</div>

</div>

<div id="data-sr-only-focusable">
    <div class="display-title">

        sr-only-focusable

    </div>

    <div class="clipboard">sr-only-focusable</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"sr-only sr-only-focusable"</span> <span class="na">href=</span><span class="s">"#content"</span><span class="nt">&gt;</span>Skip to main content<span class="nt">&lt;/a&gt;</span></code></pre></figure>
    </div>
    <div class="rendered"><a class="sr-only sr-only-focusable" href="#content">Skip to main content</a></div>

    <div class="alt-rendered">No preview available for this one.</div>

</div>

