<div id="data-align-baseline">
    <div class="display-title">

        align-*

    </div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"align-baseline"</span><span class="nt">&gt;</span>baseline<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"align-top"</span><span class="nt">&gt;</span>top<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"align-middle"</span><span class="nt">&gt;</span>middle<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"align-bottom"</span><span class="nt">&gt;</span>bottom<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"align-text-top"</span><span class="nt">&gt;</span>text-top<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"align-text-bottom"</span><span class="nt">&gt;</span>text-bottom<span class="nt">&lt;/span&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <span class="align-baseline">baseline</span>
        <span class="align-top">top</span>
        <span class="align-middle">middle</span>
        <span class="align-bottom">bottom</span>
        <span class="align-text-top">text-top</span>
        <span class="align-text-bottom">text-bottom</span>
    </div>

</div>

<div id="data-clearfix">
    <div class="display-title">

        clearfix

    </div>

    <div class="clipboard">clearfix</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"clearfix"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="clearfix">...</div>
    </div>

    <div class="alt-rendered">No preview available for this one.</div>

</div>

<div id="data-fixed-top">
    <div class="display-title">

        fixed-top

    </div>

    <div class="clipboard">fixed-top</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fixed-top bg-primary"</span><span class="nt">&gt;</span>Fixed top<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="fixed-top bg-primary">Fixed top</div>
    </div>

</div>

<div id="data-fixed-bottom">
    <div class="display-title">

        fixed-bottom

    </div>

    <div class="clipboard">fixed-bottom</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fixed-bottom bg-primary"</span><span class="nt">&gt;</span>Fixed bottom<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="fixed-bottom bg-primary">Fixed bottom</div>
    </div>

</div>

<div id="data-sticky-top">
    <div class="display-title">

        sticky-top

    </div>

    <div class="clipboard">sticky-top</div>

    <div class="code">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sticky-top bg-primary"</span><span class="nt">&gt;</span>Sticky top<span class="nt">&lt;/div&gt;</span></code></pre></figure>
    </div>
    <div class="rendered">
        <div class="sticky-top bg-primary">Sticky top</div>
    </div>

</div>

<div id="data-float-left">
    <div class="display-title">

        float-*-left

    </div>

    <div class="clipboard">float-left</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-left"</span><span class="nt">&gt;</span>Float left on all viewport sizes<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-sm-left"</span><span class="nt">&gt;</span>Float left on viewports sized SM (small) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-md-left"</span><span class="nt">&gt;</span>Float left on viewports sized MD (medium) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-lg-left"</span><span class="nt">&gt;</span>Float left on viewports sized LG (large) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-xl-left"</span><span class="nt">&gt;</span>Float left on viewports sized XL (extra-large) or wider<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="float-left">Float left on all viewport sizes</div>
        <div class="float-sm-left">Float left on viewports sized SM (small) or wider</div>
        <div class="float-md-left">Float left on viewports sized MD (medium) or wider</div>
        <div class="float-lg-left">Float left on viewports sized LG (large) or wider</div>
        <div class="float-xl-left">Float left on viewports sized XL (extra-large) or wider</div>
    </div>

</div>

<div id="data-float-right">
    <div class="display-title">

        float-*-right

    </div>

    <div class="clipboard">float-right</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-right"</span><span class="nt">&gt;</span>Float right on all viewport sizes<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-sm-right"</span><span class="nt">&gt;</span>Float right on viewports sized SM (small) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-md-right"</span><span class="nt">&gt;</span>Float right on viewports sized MD (medium) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-lg-right"</span><span class="nt">&gt;</span>Float right on viewports sized LG (large) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-xl-right"</span><span class="nt">&gt;</span>Float right on viewports sized XL (extra-large) or wider<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="float-right">Float right on all viewport sizes</div>
        <div class="float-sm-right">Float right on viewports sized SM (small) or wider</div>
        <div class="float-md-right">Float right on viewports sized MD (medium) or wider</div>
        <div class="float-lg-right">Float right on viewports sized LG (large) or wider</div>
        <div class="float-xl-right">Float right on viewports sized XL (extra-large) or wider</div>
    </div>

</div>

<div id="data-float-none">
    <div class="display-title">

        float-*-none

    </div>

    <div class="clipboard">float-none</div>

    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-none"</span><span class="nt">&gt;</span>Don't float on all viewport sizes<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-sm-none"</span><span class="nt">&gt;</span>Don't float on viewports sized SM (small) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-md-none"</span><span class="nt">&gt;</span>Don't float on viewports sized MD (medium) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-lg-none"</span><span class="nt">&gt;</span>Don't float on viewports sized LG (large) or wider<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"float-xl-none"</span><span class="nt">&gt;</span>Don't float on viewports sized XL (extra-large) or wider<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="float-none">Don't float on all viewport sizes</div>
        <div class="float-sm-none">Don't float on viewports sized SM (small) or wider</div>
        <div class="float-md-none">Don't float on viewports sized MD (medium) or wider</div>
        <div class="float-lg-none">Don't float on viewports sized LG (large) or wider</div>
        <div class="float-xl-none">Don't float on viewports sized XL (extra-large) or wider</div>
    </div>

</div>