<div class="category">
    <h3 class="category-heading">
        Utility: Sizing
        <span class="float-right">
            <a class="doc-link"
               data-original-title="See official documentation"
               target="_blank"
               href="https://getbootstrap.com/docs/4.0/utilities/sizing/">
                <i class="fa fa-question-circle"></i>
            </a>
        </span>
    </h3>
    <ul>
        <li class="item-element hide-print">
            <a href="#w-100" id="item-w-100" class="item-link">
                <span>
                    w-100
                </span>
            </a>
            <span class="copy-links float-right">
                <a href="#!"
                   id="copy-w-100"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>
            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#h-100" id="item-h-100" class="item-link">
                <span>h-100</span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   id="copy-h-100"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#mw-100" id="item-mw-100" class="item-link">
                <span>

                    mw-100

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="mw-100"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-mw-100"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element">
            <a href="#mh-100" id="item-mh-100" class="item-link">
                <span>

                    mh-100

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="mh-100"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-mh-100"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

    </ul>
</div>