<div class="category">
    <h3 class="category-heading">
        Utility: Spacing

        <span class="float-right">
            <a class="doc-link"
               data-original-title="See official documentation"
               target="_blank"
               href="https://getbootstrap.com/docs/4.0/utilities/spacing/">
                <i class="fa fa-question-circle"></i>
            </a>
        </span>

    </h3>
    <ul>

        <li class="item-element hide-print">
            <a href="#m-1" id="item-m-1" class="item-link">
                <span>

                    m-1 / m-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="m-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-m-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#mt-1" id="item-mt-1" class="item-link">
                <span>

                    mt-1 / mt-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="mt-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-mt-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#mr-1" id="item-mr-1" class="item-link">
                <span>

                    mr-1 / mr-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="mr-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-mr-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#mb-1" id="item-mb-1" class="item-link">
                <span>

                    mb-1 / mb-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="mb-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-mb-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#ml-1" id="item-ml-1" class="item-link">
                <span>

                    ml-1 / ml-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="ml-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-ml-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#mx-1" id="item-mx-1" class="item-link">
                <span>

                    mx-1 / mx-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="mx-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-mx-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#my-1" id="item-my-1" class="item-link">
                <span>

                    my-1 / my-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="my-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-my-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#p-1" id="item-p-1" class="item-link">
                <span>

                    p-1 / p-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="p-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-p-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#pt-1" id="item-pt-1" class="item-link">
                <span>

                    pt-1 / pt-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="pt-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-pt-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#pr-1" id="item-pr-1" class="item-link">
                <span>

                    pr-1 / pr-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="pr-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-pr-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#pb-1" id="item-pb-1" class="item-link">
                <span>

                    pb-1 / pb-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="pb-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-pb-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#pl-1" id="item-pl-1" class="item-link">
                <span>

                    pl-1 / pl-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="pl-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-pl-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#px-1" id="item-px-1" class="item-link">
                <span>

                    px-1 / px-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="px-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-px-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

        <li class="item-element hide-print">
            <a href="#py-1" id="item-py-1" class="item-link">
                <span>

                    py-1 / py-*-#

                </span>
            </a>
            <span class="copy-links float-right">

                <a href="#!"
                   data-original-title="CSS class to clipboard"
                   data-clipboard-text="py-1"
                   class="class-copy-link">
                    <i class="fa fa-files-o"></i>
                </a>

                <a href="#!"
                   id="copy-py-1"
                   class="item-copy-link"
                   data-original-title="Code snippet to clipboard">
                    <i class="fa fa-code"></i>
                </a>

            </span>
        </li>

    </ul>
</div>