<div id="data-m-1">
    <div class="display-title">

        m-1 / m-*-#

    </div>



    <div class="clipboard">m-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"m-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="m-0 bg-primary d-inline-block">Spaced Div</div>
        <div class="m-1 bg-primary d-inline-block">Spaced Div</div>
        <div class="m-2 bg-primary d-inline-block">Spaced Div</div>
        <div class="m-3 bg-primary d-inline-block">Spaced Div</div>
        <div class="m-4 bg-primary d-inline-block">Spaced Div</div>
        <div class="m-5 bg-primary d-inline-block">Spaced Div</div>

        <!-- respsonsive viariations -->
        <div class="m-sm-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="m-md-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="m-lg-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="m-xl-5 d-inline-block bg-primary">Spaced Div</div>
    </div>

</div>

<div id="data-mt-1">
    <div class="display-title">

        mt-1 / mt-*-#

    </div>



    <div class="clipboard">mt-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mt-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="mt-0 bg-primary d-inline-block">Spaced Div</div>
        <div class="mt-1 bg-primary d-inline-block">Spaced Div</div>
        <div class="mt-2 bg-primary d-inline-block">Spaced Div</div>
        <div class="mt-3 bg-primary d-inline-block">Spaced Div</div>
        <div class="mt-4 bg-primary d-inline-block">Spaced Div</div>
        <div class="mt-5 bg-primary d-inline-block">Spaced Div</div>

        <!-- respsonsive viariations -->
        <div class="mt-sm-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mt-md-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mt-lg-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mt-xl-5 d-inline-block bg-primary">Spaced Div</div>
    </div>

</div>

<div id="data-mr-1">
    <div class="display-title">

        mr-1 / mr-*-#

    </div>



    <div class="clipboard">mr-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mr-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="mr-0 bg-primary d-inline-block">Spaced Div</div>
        <div class="mr-1 bg-primary d-inline-block">Spaced Div</div>
        <div class="mr-2 bg-primary d-inline-block">Spaced Div</div>
        <div class="mr-3 bg-primary d-inline-block">Spaced Div</div>
        <div class="mr-4 bg-primary d-inline-block">Spaced Div</div>
        <div class="mr-5 bg-primary d-inline-block">Spaced Div</div>

        <!-- respsonsive viariations -->
        <div class="mr-sm-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mr-md-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mr-lg-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mr-xl-5 d-inline-block bg-primary">Spaced Div</div>
    </div>

</div>

<div id="data-mb-1">
    <div class="display-title">

        mb-1 / mb-*-#

    </div>



    <div class="clipboard">mb-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mb-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="mb-0 bg-primary d-inline-block">Spaced Div</div>
        <div class="mb-1 bg-primary d-inline-block">Spaced Div</div>
        <div class="mb-2 bg-primary d-inline-block">Spaced Div</div>
        <div class="mb-3 bg-primary d-inline-block">Spaced Div</div>
        <div class="mb-4 bg-primary d-inline-block">Spaced Div</div>
        <div class="mb-5 bg-primary d-inline-block">Spaced Div</div>

        <!-- respsonsive viariations -->
        <div class="mb-sm-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mb-md-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mb-lg-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mb-xl-5 d-inline-block bg-primary">Spaced Div</div>
    </div>

</div>

<div id="data-ml-1">
    <div class="display-title">

        ml-1 / ml-*-#

    </div>



    <div class="clipboard">ml-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ml-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="ml-0 bg-primary d-inline-block">Spaced Div</div>
        <div class="ml-1 bg-primary d-inline-block">Spaced Div</div>
        <div class="ml-2 bg-primary d-inline-block">Spaced Div</div>
        <div class="ml-3 bg-primary d-inline-block">Spaced Div</div>
        <div class="ml-4 bg-primary d-inline-block">Spaced Div</div>
        <div class="ml-5 bg-primary d-inline-block">Spaced Div</div>

        <!-- respsonsive viariations -->
        <div class="ml-sm-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="ml-md-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="ml-lg-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="ml-xl-5 d-inline-block bg-primary">Spaced Div</div>
    </div>

</div>

<div id="data-mx-1">
    <div class="display-title">

        mx-1 / mx-*-#

    </div>



    <div class="clipboard">mx-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mx-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="mx-0 bg-primary d-inline-block">Spaced Div</div>
        <div class="mx-1 bg-primary d-inline-block">Spaced Div</div>
        <div class="mx-2 bg-primary d-inline-block">Spaced Div</div>
        <div class="mx-3 bg-primary d-inline-block">Spaced Div</div>
        <div class="mx-4 bg-primary d-inline-block">Spaced Div</div>
        <div class="mx-5 bg-primary d-inline-block">Spaced Div</div>

        <!-- respsonsive viariations -->
        <div class="mx-sm-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mx-md-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mx-lg-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="mx-xl-5 d-inline-block bg-primary">Spaced Div</div>
    </div>

</div>

<div id="data-my-1">
    <div class="display-title">

        my-1 / my-*-#

    </div>



    <div class="clipboard">my-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"my-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Spaced Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="my-0 bg-primary d-inline-block">Spaced Div</div>
        <div class="my-1 bg-primary d-inline-block">Spaced Div</div>
        <div class="my-2 bg-primary d-inline-block">Spaced Div</div>
        <div class="my-3 bg-primary d-inline-block">Spaced Div</div>
        <div class="my-4 bg-primary d-inline-block">Spaced Div</div>
        <div class="my-5 bg-primary d-inline-block">Spaced Div</div>

        <!-- respsonsive viariations -->
        <div class="my-sm-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="my-md-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="my-lg-5 d-inline-block bg-primary">Spaced Div</div>
        <div class="my-xl-5 d-inline-block bg-primary">Spaced Div</div>
    </div>

</div>

<div id="data-p-1">
    <div class="display-title">

        p-1 / p-*-#

    </div>



    <div class="clipboard">p-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="p-0 bg-primary d-inline-block">Padded Div</div>
        <div class="p-1 bg-primary d-inline-block">Padded Div</div>
        <div class="p-2 bg-primary d-inline-block">Padded Div</div>
        <div class="p-3 bg-primary d-inline-block">Padded Div</div>
        <div class="p-4 bg-primary d-inline-block">Padded Div</div>
        <div class="p-5 bg-primary d-inline-block">Padded Div</div>

        <!-- respsonsive viariations -->
        <div class="p-sm-5 d-inline-block bg-primary">Padded Div</div>
        <div class="p-md-5 d-inline-block bg-primary">Padded Div</div>
        <div class="p-lg-5 d-inline-block bg-primary">Padded Div</div>
        <div class="p-xl-5 d-inline-block bg-primary">Padded Div</div>
    </div>

</div>

<div id="data-pt-1">
    <div class="display-title">

        pt-1 / pt-*-#

    </div>



    <div class="clipboard">pt-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pt-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="pt-0 bg-primary d-inline-block">Padded Div</div>
        <div class="pt-1 bg-primary d-inline-block">Padded Div</div>
        <div class="pt-2 bg-primary d-inline-block">Padded Div</div>
        <div class="pt-3 bg-primary d-inline-block">Padded Div</div>
        <div class="pt-4 bg-primary d-inline-block">Padded Div</div>
        <div class="pt-5 bg-primary d-inline-block">Padded Div</div>

        <!-- respsonsive viariations -->
        <div class="pt-sm-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pt-md-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pt-lg-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pt-xl-5 d-inline-block bg-primary">Padded Div</div>
    </div>

</div>

<div id="data-pr-1">
    <div class="display-title">

        pr-1 / pr-*-#

    </div>



    <div class="clipboard">pr-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pr-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="pr-0 bg-primary d-inline-block">Padded Div</div>
        <div class="pr-1 bg-primary d-inline-block">Padded Div</div>
        <div class="pr-2 bg-primary d-inline-block">Padded Div</div>
        <div class="pr-3 bg-primary d-inline-block">Padded Div</div>
        <div class="pr-4 bg-primary d-inline-block">Padded Div</div>
        <div class="pr-5 bg-primary d-inline-block">Padded Div</div>

        <!-- respsonsive viariations -->
        <div class="pr-sm-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pr-md-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pr-lg-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pr-xl-5 d-inline-block bg-primary">Padded Div</div>
    </div>

</div>

<div id="data-pb-1">
    <div class="display-title">

        pb-1 / pb-*-#

    </div>



    <div class="clipboard">pb-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pb-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="pb-0 bg-primary d-inline-block">Padded Div</div>
        <div class="pb-1 bg-primary d-inline-block">Padded Div</div>
        <div class="pb-2 bg-primary d-inline-block">Padded Div</div>
        <div class="pb-3 bg-primary d-inline-block">Padded Div</div>
        <div class="pb-4 bg-primary d-inline-block">Padded Div</div>
        <div class="pb-5 bg-primary d-inline-block">Padded Div</div>

        <!-- respsonsive viariations -->
        <div class="pb-sm-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pb-md-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pb-lg-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pb-xl-5 d-inline-block bg-primary">Padded Div</div>
    </div>

</div>

<div id="data-pl-1">
    <div class="display-title">

        pl-1 / pl-*-#

    </div>



    <div class="clipboard">pl-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pl-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="pl-0 bg-primary d-inline-block">Padded Div</div>
        <div class="pl-1 bg-primary d-inline-block">Padded Div</div>
        <div class="pl-2 bg-primary d-inline-block">Padded Div</div>
        <div class="pl-3 bg-primary d-inline-block">Padded Div</div>
        <div class="pl-4 bg-primary d-inline-block">Padded Div</div>
        <div class="pl-5 bg-primary d-inline-block">Padded Div</div>

        <!-- respsonsive viariations -->
        <div class="pl-sm-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pl-md-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pl-lg-5 d-inline-block bg-primary">Padded Div</div>
        <div class="pl-xl-5 d-inline-block bg-primary">Padded Div</div>
    </div>

</div>

<div id="data-px-1">
    <div class="display-title">

        px-1 / px-*-#

    </div>



    <div class="clipboard">px-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"px-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="px-0 bg-primary d-inline-block">Padded Div</div>
        <div class="px-1 bg-primary d-inline-block">Padded Div</div>
        <div class="px-2 bg-primary d-inline-block">Padded Div</div>
        <div class="px-3 bg-primary d-inline-block">Padded Div</div>
        <div class="px-4 bg-primary d-inline-block">Padded Div</div>
        <div class="px-5 bg-primary d-inline-block">Padded Div</div>

        <!-- respsonsive viariations -->
        <div class="px-sm-5 d-inline-block bg-primary">Padded Div</div>
        <div class="px-md-5 d-inline-block bg-primary">Padded Div</div>
        <div class="px-lg-5 d-inline-block bg-primary">Padded Div</div>
        <div class="px-xl-5 d-inline-block bg-primary">Padded Div</div>
    </div>

</div>

<div id="data-py-1">
    <div class="display-title">

        py-1 / py-*-#

    </div>



    <div class="clipboard">py-1</div>



    <div class="code">
        <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-0 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-1 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-2 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-3 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-4 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-5 bg-primary d-inline-block"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- respsonsive viariations --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-sm-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-md-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-lg-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"py-xl-5 d-inline-block bg-primary"</span><span class="nt">&gt;</span>Padded Div<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
    </div>
    <div class="rendered">
        <div class="py-0 bg-primary d-inline-block">Padded Div</div>
        <div class="py-1 bg-primary d-inline-block">Padded Div</div>
        <div class="py-2 bg-primary d-inline-block">Padded Div</div>
        <div class="py-3 bg-primary d-inline-block">Padded Div</div>
        <div class="py-4 bg-primary d-inline-block">Padded Div</div>
        <div class="py-5 bg-primary d-inline-block">Padded Div</div>

        <!-- respsonsive viariations -->
        <div class="py-sm-5 d-inline-block bg-primary">Padded Div</div>
        <div class="py-md-5 d-inline-block bg-primary">Padded Div</div>
        <div class="py-lg-5 d-inline-block bg-primary">Padded Div</div>
        <div class="py-xl-5 d-inline-block bg-primary">Padded Div</div>
    </div>

</div>

