.cheatsheet-main, .ht-font {
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-weight: 400; }
.showcase .navigation .arrow-nav{
    display:none!important;}
.ht-header {
  background: #1A1B26;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif; }
  .ht-header h1,
  .ht-header h2,
  .ht-header h3 {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.18); }
  .ht-header h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 41px; }
  .ht-header h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px; }
  .ht-header h3,
  .ht-header h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px; }
  .ht-header .ht-header-headline-big {
    font-size: 36px;
    font-weight: 600; }
  .ht-header .ht-header-headline {
    font-size: 36px;
    font-weight: 400;
    line-height: 41px; }

.ht-header-front {
  padding-bottom: 66px; }
  @media (min-width: 768px) {
    .ht-header-front {
      background-image: url("/images/ht-assets/ht-header-front-icons-bg.png");
      background-position: center 4px;
      background-repeat: no-repeat;
      padding-bottom: 120px; } }

.ht-header-social-buttons {
  margin-top: 20px; }

.ht-header-buttons-theme-kit {
  margin-top: 60px; }

@media (min-width: 992px) {
  .ht-header-theme-kit {
    padding: 80px 0 100px; } }

.ht-header-charming {
  padding-bottom: 72px; }

.ht-header-tagline {
  display: inline-block; }
  @media (min-width: 768px) {
    .ht-header-tagline {
      margin-top: 44px; } }

.ht-header-tagline-highlight {
  color: #b5b7ce; }

.ht-ampersand {
  font-size: .75em; }

.ht-post-theme-kit h2 {
  margin-top: 40px; }
.ht-post-theme-kit pre {
  padding: 15px;
  border-radius: 5px; }
.ht-post-theme-kit code.ht-inline-code {
  color: #209f63;
  padding: 0; }
.ht-post-theme-kit .code-highlight {
  color: #f8f8f2;
  font-weight: bold; }

.ht-header-teaser {
  max-width: 100%;
  position: relative;
  height: 287px;
  width: 445px;
  flex-shrink: 0; }
  @media (max-width: 767.98px) {
    .ht-header-teaser {
      width: 100%;
      height: 225px;
      overflow: hidden; } }
  .ht-header-teaser.ht-header-teaser-small {
    height: 155px;
    width: 215px; }

.ht-header-teaser-item {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  width: 377px; }
  @media (max-width: 1199.98px) {
    .ht-header-teaser-item {
      width: 325px; } }
  @media (max-width: 767.98px) {
    .ht-header-teaser-item {
      width: 275px; } }
  .ht-header-teaser-small .ht-header-teaser-item {
    width: 178px; }
    @media (max-width: 1199.98px) {
      .ht-header-teaser-small .ht-header-teaser-item {
        width: 178px; } }
    @media (max-width: 767.98px) {
      .ht-header-teaser-small .ht-header-teaser-item {
        width: 178px; } }

.ht-header-teaser-item-front {
  position: absolute;
  top: 95px;
  left: 115px; }
  @media (max-width: 1199.98px) {
    .ht-header-teaser-item-front {
      top: 85px;
      left: 85px; } }
  @media (max-width: 767.98px) {
    .ht-header-teaser-item-front {
      top: 45px;
      left: 65px; } }
  .ht-header-teaser-small .ht-header-teaser-item-front {
    top: 30px;
    left: 30px; }
    @media (max-width: 1199.98px) {
      .ht-header-teaser-small .ht-header-teaser-item-front {
        top: 30px;
        left: 30px; } }
    @media (max-width: 767.98px) {
      .ht-header-teaser-small .ht-header-teaser-item-front {
        top: 30px;
        left: 30px; } }

.ht-header-teaser-item-back {
  position: absolute;
  top: 0;
  left: 0; }

.ht-charming-message {
  display: flex;
  flex-flow: row nowrap;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 24px 12px 12px 15px;
  border-radius: 3px; }
  @media (max-width: 991.98px) {
    .ht-charming-message {
      margin-top: 24px; } }
  @media (max-width: 767.98px) {
    .ht-charming-message {
      flex-flow: column nowrap; } }

.ht-charming-message-text {
  display: block;
  font-size: 20px;
  margin-left: 18px;
  font-weight: 300; }
  .ht-charming-message-text a,
  .ht-charming-message-text a:hover,
  .ht-charming-message-text a:focus,
  .ht-charming-message-text a:active {
    color: #fff; }
  @media (max-width: 767.98px) {
    .ht-charming-message-text {
      padding-left: 0; } }

.ht-charming-message-button {
  margin-top: 12px; }

.ht-header-subline {
  font-weight: 300;
  font-size: 18px; }

.ht-header-subline-big {
  font-size: 32px; }

.ht-header-licenses {
  font-weight: 300;
  margin: 6px 0; }

.ht-header-buttons {
  margin-top: 12px;
  margin-bottom: 12px; }

.ht-header-licenses {
  margin: 24px 0 18px 0; }
  .ht-header-licenses a,
  .ht-header-licenses a:hover,
  .ht-header-licenses a:focus,
  .ht-header-licenses a:active {
    color: #fff; }

.ht-license-switch {
  margin-left: 12px;
  text-decoration: none; }
  .ht-license-switch:first-child {
    margin-left: 15px; }
  .ht-license-switch:active, .ht-license-switch:focus {
    text-decoration: none; }
  .ht-license-switch.active {
    text-decoration: underline; }

.ht-button-hidden {
  display: none; }

.ht-license-help {
  margin-left: 15px; }

.ht-header-meta {
  font-weight: 300;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ht-header-meta .ht-payment-icon {
    font-size: 26px;
    margin-right: 5px; }

.ht-header-meta-text {
  display: inline-block;
  margin-top: -2px; }

.ht-bottom-cta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 991.98px) {
    .ht-bottom-cta {
      flex-flow: column nowrap;
      align-items: flex-start; } }

.ht-bottom-cta-licenses a,
.ht-bottom-cta-licenses a:hover,
.ht-bottom-cta-licenses a:focus,
.ht-bottom-cta-licenses a:active {
  color: #fff; }

.ht-bottom-cta-wrapper {
  color: #fff;
  padding: 50px;
  background-color: #1A1B26;
  margin-top: 120px; }

.ht-bottom-cta-callout {
  font-size: 30px; }
  @media (max-width: 991.98px) {
    .ht-bottom-cta-callout {
      margin-bottom: 12px; } }

.ht-bottom-cta-button {
  margin-left: auto;
  margin-right: 24px; }
  @media (max-width: 991.98px) {
    .ht-bottom-cta-button {
      margin-left: 0;
      order: 3;
      margin-top: 12px; } }

.ht-header-content {
  padding-top: 70px;
  padding-bottom: 50px; }

.ht-header-dark {
  color: #fff; }

.ht-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  z-index: 999; }
  @media all and (-ms-high-contrast: none) {
    .ht-navbar {
      padding-top: 12px; } }
  .ht-navbar a {
    text-decoration: none; }

.ht-navbar-wrapper {
  min-height: 54px; }
  @media (min-width: 768px) {
    .ht-navbar-wrapper.ht-navbar-wrapper-sticky {
      background-color: #1A1B26;
      z-index: 1030;
      position: fixed;
      top: 0;
      right: 0;
      left: 0; } }

.ht-nav-link, .ht-nav-link:focus, .ht-nav-link:active, .ht-nav-link:hover {
  color: #404040;
  text-decoration: none; }
  .ht-navbar-dark .ht-nav-link, .ht-navbar-dark .ht-nav-link:focus, .ht-navbar-dark .ht-nav-link:active, .ht-navbar-dark .ht-nav-link:hover {
    color: #fff; }
@media (max-width: 767.98px) {
  .ht-nav-link {
    padding: 20px;
    width: 100%;
    display: block; }
    .ht-expanded .ht-nav-link {
      background: rgba(193, 193, 193, 0.12); } }

@media (min-width: 768px) {
  .ht-nav-wrapper .ht-mobile-nav-logo {
    display: none; } }
@media (max-width: 767.98px) {
  .ht-nav-wrapper {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(4, 4, 4, 0.98);
    z-index: 1010;
    color: black;
    overflow: auto; }
    .ht-nav-wrapper .ht-mobile-nav-logo {
      display: block;
      padding: 30px 0; }
    .ht-nav-wrapper.ht-nav-visible {
      display: block; } }

.ht-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%; }
  @media (max-width: 767.98px) {
    .ht-nav {
      flex-flow: column nowrap;
      display: flex; } }
  @media (min-width: 768px) {
    .ht-nav .ht-nav-item {
      padding: 0;
      margin: 0 11px; } }
  @media (max-width: 767.98px) {
    .ht-nav .ht-nav-item {
      width: 100%; } }
  .ht-nav .ht-nav-item:last-child {
    margin-right: 0; }
  .ht-nav .ht-nav-item:first-child {
    margin-left: 0; }

.ht-mobile-nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 55px;
  z-index: 1011;
  display: none; }
  .ht-mobile-nav-toggle a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  @media (max-width: 767.98px) {
    .ht-mobile-nav-toggle.ht-nav-visible {
      display: block; } }
  @media (min-width: 768px) {
    .ht-mobile-nav-toggle {
      display: none; } }

.ht-nav-dropdown {
  position: relative; }

@media (max-width: 767.98px) {
  .ht-nav-dropdown-toggle {
    background: rgba(255, 255, 255, 0.02); } }
@media (min-width: 768px) {
  .ht-nav-dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 7px;
    margin-bottom: 2px;
    vertical-align: middle;
    content: "";
    border-top: 3px solid;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent; } }

.ht-nav-dropdown-menu {
  display: none; }
  @media (min-width: 768px) {
    .ht-nav-dropdown-menu {
      background-color: #f5f5f5;
      border: 1px solid #C2C4CA;
      border-radius: 5px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      width: 400px;
      right: -40px;
      position: absolute;
      top: 35px;
      padding: 0;
      z-index: 999; } }
  .ht-nav-dropdown-show .ht-nav-dropdown-menu {
    display: block; }
    .ht-nav-dropdown-show .ht-nav-dropdown-menu.ht-nav-dropdown-themes {
      display: flex; }

@media (min-width: 768px) {
  .ht-nav-dropdown-menu-hoverhelper {
    height: 13px;
    width: 400px;
    position: absolute;
    display: none;
    right: -40px; }
    .ht-nav-dropdown-show .ht-nav-dropdown-menu-hoverhelper {
      display: block; } }

@media (min-width: 768px) {
  .ht-nav-dropdown-menu-triangle {
    position: absolute;
    width: 13px;
    height: 13px;
    display: none;
    left: 0;
    right: 0;
    top: 29px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(45deg);
    background-color: #f8f8f8;
    border: 1px solid #C2C4CA;
    border-bottom: 0;
    background: linear-gradient(135deg, #f5f5f5 50%, transparent 0);
    border-right: 0; }
    .ht-nav-dropdown-show .ht-nav-dropdown-menu-triangle {
      display: block; } }

.ht-nav-dropdown-menu-link {
  display: block;
  padding: 15px 15px 15px 10px; }
  @media (min-width: 768px) {
    .ht-nav-dropdown-menu-link {
      color: #404040 !important;
      border-top: 1px solid #dddee2; }
      .ht-nav-dropdown-menu-link:first-child {
        border-top: 0;
        border-radius: 5px 5px 0; }
      .ht-nav-dropdown-menu-link:last-child {
        border-radius: 0 0 5px 5px; }
      .ht-nav-dropdown-menu-link:active, .ht-nav-dropdown-menu-link:hover, .ht-nav-dropdown-menu-link:focus {
        color: #404040;
        text-decoration: none; }
      .ht-nav-dropdown-menu-link:hover {
        background-color: #e2e2e2; } }
  @media (max-width: 767.98px) {
    .ht-nav-dropdown-menu-link {
      color: #f2f2f2 !important;
      text-align: left;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      padding: 15px 30px; }
      .ht-nav-dropdown-menu-link:active, .ht-nav-dropdown-menu-link:hover, .ht-nav-dropdown-menu-link:focus {
        background-color: rgba(255, 255, 255, 0.19); } }

.ht-nav-dropdown-themes {
  flex-flow: row wrap;
  flex-wrap: wrap;
  padding: 15px 5px;
  width: 370px; }
  .ht-nav-dropdown-themes .ht-nav-dropdown-menu-link {
    padding: 5px 10px;
    border: none;
    width: 155px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    border-radius: 4px; }

.ht-nav-dropdown-menu-link-icon {
  float: left;
  margin-top: 4px;
  margin-right: 5px; }

.ht-nav-dropdown-menu-link-heading {
  font-weight: 600;
  display: block; }
  .ht-nav-dropdown-menu-link-heading .ht-foss-tag {
    font-weight: normal;
    background-color: #BCBDC9;
    padding: 1px 4px;
    margin-left: 10px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px; }
    @media (max-width: 767.98px) {
      .ht-nav-dropdown-menu-link-heading .ht-foss-tag {
        background-color: #696b83; } }

.ht-nav-dropdown-menu-link-desc {
  margin-left: 60px;
  display: block; }

.ht-section {
  margin-top: 124px;
  margin-bottom: 72px; }

.ht-section-mt {
  margin-top: 144px; }

.ht-merits-charming {
  margin-top: 96px; }

.ht-table-licenses .thead-dark th {
  background: #1A1B26; }
.ht-table-licenses .fa-check {
  color: #b5b7ce; }

.ht-merit {
  margin: 36px 0; }

.ht-merit-icon {
  margin-bottom: 24px; }

.ht-merit-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600; }

.ht-merit-text a {
  text-decoration: underline; }

.ht-about-iconlink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin: 12px 36px 12px 0; }
  .ht-about-iconlink .fa {
    font-size: 28px;
    margin: 0 10px 0 0; }
  .ht-about-iconlink:hover, .ht-about-iconlink:active, .ht-about-iconlink:focus {
    text-decoration: none; }

.ht-section-factsheet {
  background-image: url("/images/ht-assets/ht-factsheet-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 170px 0;
  margin-top: 120px; }
  @media (min-width: 2000px) {
    .ht-section-factsheet {
      padding: 300px 0 220px; } }

.ht-factsheet {
  border-radius: 5px;
  background: #f5f5f5;
  box-shadow: 8px 8px 63px rgba(0, 0, 0, 0.16);
  padding: 48px 72px; }
  @media (max-width: 767.98px) {
    .ht-factsheet {
      padding: 24px; } }
  .ht-factsheet h2 {
    margin-bottom: 24px;
    font-size: 25px;
    font-weight: 600; }
  .ht-factsheet table td:first-child {
    font-weight: 600;
    padding-right: 48px; }
    @media (max-width: 767.98px) {
      .ht-factsheet table td:first-child {
        padding-right: 12px; } }

.ht-factsheet-logos {
  margin-top: 12px;
  text-align: center; }
  .ht-factsheet-logos img {
    opacity: .85;
    margin: 12px;
    display: inline-block; }

.ht-section-header {
  margin-bottom: 48px; }
  .ht-section-header h2 {
    font-size: 25px;
    font-weight: 600; }

.ht-section-header-margin {
  margin-bottom: 72px; }

.ht-section-header-subtitle {
  color: #767676;
  font-size: 20px; }

#bootstrap-templates {
  text-align: center;
  padding: 0 15px; }

.ht-item-column {
  text-align: center; }

.ht-item {
  display: inline-block;
  margin-bottom: 72px;
  text-decoration: none;
  max-width: 445px; }
  .ht-item:hover {
    text-decoration: none; }

.ht-item-image {
  display: block;
  position: relative;
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.33); }
  .ht-item-image img {
    max-width: 100%; }

.ht-item-image-demoscreenshot {
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.37); }

.ht-item-hoverlay {
  position: absolute;
  background: rgba(37, 46, 68, 0.95);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .5s; }
  .ht-item-image:hover .ht-item-hoverlay {
    opacity: 1; }

.ht-item-meta {
  display: block;
  text-align: left; }

.ht-item-title {
  display: block;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 600; }

.ht-item-description {
  display: block;
  padding-right: 54px; }

.ht-item-price {
  float: right;
  color: #fff;
  background: #3E4E7A;
  padding: 0 5px;
  border-radius: 3px; }

.ht-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.ht-main {
  flex: 1 0 auto; }
  @media (min-width: 768px) {
    .ht-main {
      padding-top: 50px; } }

.ht-footer a,
.ht-footer a:focus,
.ht-footer a:hover,
.ht-footer a:active {
  color: #4B5266; }

.ht-footer-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding-top: 12px;
  padding-bottom: 12px; }
  @media (max-width: 767.98px) {
    .ht-footer-container {
      flex-flow: column nowrap; } }

.ht-footer-logo {
  line-height: 0;
  margin-bottom: 3px; }
  @media (max-width: 767.98px) {
    .ht-footer-logo {
      order: 0;
      margin-bottom: 12px; } }

@media (max-width: 767.98px) {
  .ht-footer-left {
    order: 1; } }

.ht-footer-link {
  margin: 0 8px; }
  .ht-footer-link:first-child {
    margin-left: 0; }
  .ht-footer-link:last-child {
    margin-right: 0; }

.ht-dl-modal-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  overflow: auto;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition-duration: 250ms;
  transition-property: opacity; }
  .ht-dl-modal-backdrop.ht-hidden {
    opacity: 0;
    transition-duration: 0ms;
    transition-property: opacity;
    visibility: hidden; }

.ht-dl-modal-message {
  background: #DFDFDF;
  font-size: 16px;
  display: inline-block;
  position: relative;
  padding: 24px 48px;
  border-radius: 5px;
  margin: auto 24px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #939393; }
  .ht-dl-modal-message h2 {
    font-weight: 600; }

.ht-dl-modal-x {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .7;
  text-decoration: none !important; }

.ht-mailchimp-form {
  display: flex;
  flex-flow: row;
  justify-content: center; }

.ht-mailchimp-form-email {
  flex-grow: 1; }

.ht-cursor-link {
  cursor: pointer; }

.lightbox .lb-image {
  border: none; }

.ht-tk-blog-sharer-bottom {
  margin-top: 40px;
  margin-bottom: 100px; }

.ht-note, .ht-header-note {
  font-size: 18px;
  line-height: 28px; }

.ht-table-licenses .fa-check {
  color: #24B470; }

.ht-charming-header-cards {
  padding-bottom: 50px; }

.ht-charming-slider {
  margin-top: 25px;
  display: flex;
  justify-content: center; }

.ht-charming-slider-slides {
  position: relative;
  height: 440px;
  width: 1050px; }

.ht-charming-slide {
  border-radius: 7px 7px 0 0;
  box-shadow: inset 0px -10px 20px -15px black, 0px -4px 15px 0 rgba(0, 0, 0, 0.15);
  height: 440px;
  width: 1050px;
  position: absolute;
  top: 0;
  left: 0; }

.ht-charming-slide-1 {
  background-image: url("/images/ht-assets/ht-charming-screenshot-dashboard.png"); }

.ht-charming-slide-2 {
  display: none;
  background-image: url("/images/ht-assets/ht-charming-screenshot-landing.png"); }

.ht-charming-jumbo {
  box-shadow: inset 0px -10px 20px -15px black; }

#ht-nav-mobile-indicator {
  display: none; }
  @media (max-width: 767.98px) {
    #ht-nav-mobile-indicator {
      display: block; } }

/* Using bootstrap button mixin for some custom buttons */
.btn-ht-accent-1 {
  color: #212529;
  background-color: #b5b7ce;
  border-color: #b5b7ce; }
  .btn-ht-accent-1:hover {
    color: #212529;
    background-color: #9ea1bf;
    border-color: #9699ba; }
  .btn-ht-accent-1:focus, .btn-ht-accent-1.focus {
    box-shadow: 0 0 0 0.2rem rgba(181, 183, 206, 0.5); }
  .btn-ht-accent-1.disabled, .btn-ht-accent-1:disabled {
    color: #212529;
    background-color: #b5b7ce;
    border-color: #b5b7ce; }
  .btn-ht-accent-1:not(:disabled):not(.disabled):active, .btn-ht-accent-1:not(:disabled):not(.disabled).active, .show > .btn-ht-accent-1.dropdown-toggle {
    color: #212529;
    background-color: #9699ba;
    border-color: #8f92b5; }
    .btn-ht-accent-1:not(:disabled):not(.disabled):active:focus, .btn-ht-accent-1:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-accent-1.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(181, 183, 206, 0.5); }

.btn-ht-outline-accent-2 {
  color: #24B470;
  background-color: transparent;
  background-image: none;
  border-color: #24B470;
  color: #fff; }
  .btn-ht-outline-accent-2:hover {
    color: #24B470;
    background-color: #24B470;
    border-color: #24B470; }
  .btn-ht-outline-accent-2:focus, .btn-ht-outline-accent-2.focus {
    box-shadow: 0 0 0 0.2rem rgba(36, 180, 112, 0.5); }
  .btn-ht-outline-accent-2.disabled, .btn-ht-outline-accent-2:disabled {
    color: #24B470;
    background-color: transparent; }
  .btn-ht-outline-accent-2:not(:disabled):not(.disabled):active, .btn-ht-outline-accent-2:not(:disabled):not(.disabled).active, .show > .btn-ht-outline-accent-2.dropdown-toggle {
    color: #fff;
    background-color: #24B470;
    border-color: #24B470; }
    .btn-ht-outline-accent-2:not(:disabled):not(.disabled):active:focus, .btn-ht-outline-accent-2:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-outline-accent-2.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(36, 180, 112, 0.5); }
  .btn-ht-outline-accent-2:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff; }
  .btn-ht-outline-accent-2:focus {
    color: #fff; }

.btn-ht-outline-accent-1 {
  color: #b5b7ce;
  background-color: transparent;
  background-image: none;
  border-color: #b5b7ce; }
  .btn-ht-outline-accent-1:hover {
    color: #b5b7ce;
    background-color: #b5b7ce;
    border-color: #b5b7ce; }
  .btn-ht-outline-accent-1:focus, .btn-ht-outline-accent-1.focus {
    box-shadow: 0 0 0 0.2rem rgba(181, 183, 206, 0.5); }
  .btn-ht-outline-accent-1.disabled, .btn-ht-outline-accent-1:disabled {
    color: #b5b7ce;
    background-color: transparent; }
  .btn-ht-outline-accent-1:not(:disabled):not(.disabled):active, .btn-ht-outline-accent-1:not(:disabled):not(.disabled).active, .show > .btn-ht-outline-accent-1.dropdown-toggle {
    color: #212529;
    background-color: #b5b7ce;
    border-color: #b5b7ce; }
    .btn-ht-outline-accent-1:not(:disabled):not(.disabled):active:focus, .btn-ht-outline-accent-1:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-outline-accent-1.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(181, 183, 206, 0.5); }
  .btn-ht-outline-accent-1:active, .btn-ht-outline-accent-1:hover, .btn-ht-outline-accent-1:focus {
    color: #b5b7ce; }
  .btn-ht-outline-accent-1:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .btn-ht-outline-accent-1:focus {
    color: #fff; }

.btn-ht-blue {
  color: #fff;
  background-color: #262F49;
  border-color: #262F49; }
  .btn-ht-blue:hover {
    color: #fff;
    background-color: #191f30;
    border-color: #151927; }
  .btn-ht-blue:focus, .btn-ht-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 47, 73, 0.5); }
  .btn-ht-blue.disabled, .btn-ht-blue:disabled {
    color: #fff;
    background-color: #262F49;
    border-color: #262F49; }
  .btn-ht-blue:not(:disabled):not(.disabled):active, .btn-ht-blue:not(:disabled):not(.disabled).active, .show > .btn-ht-blue.dropdown-toggle {
    color: #fff;
    background-color: #151927;
    border-color: #10141f; }
    .btn-ht-blue:not(:disabled):not(.disabled):active:focus, .btn-ht-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-blue.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(38, 47, 73, 0.5); }
  .btn-ht-blue:active, .btn-ht-blue:focus {
    color: #fff; }

.btn-ht-black {
  color: #fff;
  background-color: #303030;
  border-color: #303030; }
  .btn-ht-black:hover {
    color: #fff;
    background-color: #1d1d1d;
    border-color: #171717; }
  .btn-ht-black:focus, .btn-ht-black.focus {
    box-shadow: 0 0 0 0.2rem rgba(48, 48, 48, 0.5); }
  .btn-ht-black.disabled, .btn-ht-black:disabled {
    color: #fff;
    background-color: #303030;
    border-color: #303030; }
  .btn-ht-black:not(:disabled):not(.disabled):active, .btn-ht-black:not(:disabled):not(.disabled).active, .show > .btn-ht-black.dropdown-toggle {
    color: #fff;
    background-color: #171717;
    border-color: #101010; }
    .btn-ht-black:not(:disabled):not(.disabled):active:focus, .btn-ht-black:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-black.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(48, 48, 48, 0.5); }
  .btn-ht-black:active, .btn-ht-black:focus {
    color: #fff; }

.btn-ht-outline-black {
  color: #303030;
  background-color: transparent;
  background-image: none;
  border-color: #303030; }
  .btn-ht-outline-black:hover {
    color: #fff;
    background-color: #303030;
    border-color: #303030; }
  .btn-ht-outline-black:focus, .btn-ht-outline-black.focus {
    box-shadow: 0 0 0 0.2rem rgba(48, 48, 48, 0.5); }
  .btn-ht-outline-black.disabled, .btn-ht-outline-black:disabled {
    color: #303030;
    background-color: transparent; }
  .btn-ht-outline-black:not(:disabled):not(.disabled):active, .btn-ht-outline-black:not(:disabled):not(.disabled).active, .show > .btn-ht-outline-black.dropdown-toggle {
    color: #fff;
    background-color: #303030;
    border-color: #303030; }
    .btn-ht-outline-black:not(:disabled):not(.disabled):active:focus, .btn-ht-outline-black:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-outline-black.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(48, 48, 48, 0.5); }

.btn-ht-facebook-blue {
  color: #fff;
  background-color: #4267B2;
  border-color: #4267B2; }
  .btn-ht-facebook-blue:hover {
    color: #fff;
    background-color: #385796;
    border-color: #34518d; }
  .btn-ht-facebook-blue:focus, .btn-ht-facebook-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 103, 178, 0.5); }
  .btn-ht-facebook-blue.disabled, .btn-ht-facebook-blue:disabled {
    color: #fff;
    background-color: #4267B2;
    border-color: #4267B2; }
  .btn-ht-facebook-blue:not(:disabled):not(.disabled):active, .btn-ht-facebook-blue:not(:disabled):not(.disabled).active, .show > .btn-ht-facebook-blue.dropdown-toggle {
    color: #fff;
    background-color: #34518d;
    border-color: #314c83; }
    .btn-ht-facebook-blue:not(:disabled):not(.disabled):active:focus, .btn-ht-facebook-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-facebook-blue.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(66, 103, 178, 0.5); }
  .btn-ht-facebook-blue:active, .btn-ht-facebook-blue:focus {
    color: #fff; }

.btn-ht-github-grey {
  color: #fff;
  background-color: #5a5a5a;
  border-color: #5a5a5a; }
  .btn-ht-github-grey:hover {
    color: #fff;
    background-color: #474747;
    border-color: #414141; }
  .btn-ht-github-grey:focus, .btn-ht-github-grey.focus {
    box-shadow: 0 0 0 0.2rem rgba(90, 90, 90, 0.5); }
  .btn-ht-github-grey.disabled, .btn-ht-github-grey:disabled {
    color: #fff;
    background-color: #5a5a5a;
    border-color: #5a5a5a; }
  .btn-ht-github-grey:not(:disabled):not(.disabled):active, .btn-ht-github-grey:not(:disabled):not(.disabled).active, .show > .btn-ht-github-grey.dropdown-toggle {
    color: #fff;
    background-color: #414141;
    border-color: #3a3a3a; }
    .btn-ht-github-grey:not(:disabled):not(.disabled):active:focus, .btn-ht-github-grey:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-github-grey.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(90, 90, 90, 0.5); }
  .btn-ht-github-grey:active, .btn-ht-github-grey:focus {
    color: #fff; }

.btn-ht-twitter-blue {
  color: #fff;
  background-color: #38A6EE;
  border-color: #38A6EE; }
  .btn-ht-twitter-blue:hover {
    color: #fff;
    background-color: #1596eb;
    border-color: #138fe0; }
  .btn-ht-twitter-blue:focus, .btn-ht-twitter-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 166, 238, 0.5); }
  .btn-ht-twitter-blue.disabled, .btn-ht-twitter-blue:disabled {
    color: #fff;
    background-color: #38A6EE;
    border-color: #38A6EE; }
  .btn-ht-twitter-blue:not(:disabled):not(.disabled):active, .btn-ht-twitter-blue:not(:disabled):not(.disabled).active, .show > .btn-ht-twitter-blue.dropdown-toggle {
    color: #fff;
    background-color: #138fe0;
    border-color: #1287d4; }
    .btn-ht-twitter-blue:not(:disabled):not(.disabled):active:focus, .btn-ht-twitter-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-ht-twitter-blue.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(56, 166, 238, 0.5); }
  .btn-ht-twitter-blue:active, .btn-ht-twitter-blue:focus {
    color: #fff; }

.share-buttons, .ht-blog-share-buttons {
  line-height: 31px; }

.btn-ht-md {
  padding: 11px 20px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 0.25rem; }
  .btn-ht-md .fa {
    font-size: 18px;
    margin-right: 10px;
    top: 0px; }

.btn-ht-xs {
  padding: 6px 8px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 0.25rem; }

.btn-ht-icon .fa {
  font-size: 16px;
  margin-right: 10px;
  top: 0px; }

.ht-btn-cta {
  margin: 6px 0;
  padding: 13px 46px; }

.ht-license-buy-dev, .ht-license-buy-ent {
  min-width: 238px; }
  .ht-demo-bar .ht-license-buy-dev,
  .ht-demo-bar .ht-license-buy-ent {
    min-width: 0; }

.ht-btn-outline-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1); }
.ht-btn-outline-secondary:focus {
  color: #fff; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

body {
  background: #f5f5f5; }

#topArea {
  color: #fff;
  background: #7474BF;
  background: -webkit-linear-gradient(to left, #7474BF, #348ac7);
  background: linear-gradient(to left, #7474BF, #348ac7); }
  #topArea a, #topArea a:focus, #topArea a:hover {
    color: #fff; }
  #topArea .jumbotron {
    background-color: transparent; }
  #topArea #ht-navbar {
    background-color: transparent; }

.cheatsheet {
  margin-top: 60px; }
  .cheatsheet .collapse-buttons {
    margin-bottom: 20px; }
  .cheatsheet .share-buttons {
    margin-bottom: 20px; }
    .cheatsheet .share-buttons span.share-title {
      font-size: 14px;
      margin-right: 10px; }
  .cheatsheet #whats-new {
    margin-left: 5px;
    margin-bottom: 20px; }
    .cheatsheet #whats-new.btn-success {
      background-color: rgba(116, 191, 171, 0.44);
      border-color: rgba(116, 191, 171, 0.44);
      color: #232323; }
      .cheatsheet #whats-new.btn-success:hover {
        background-color: rgba(81, 175, 150, 0.44);
        border-color: rgba(81, 175, 150, 0.44); }
  .cheatsheet a:hover, .cheatsheet a:focus, .cheatsheet a:active {
    text-decoration: none; }
  .cheatsheet .category {
    margin-bottom: 1rem; }
    .cheatsheet .category h3.category-heading {
      background: #444;
      margin-bottom: 0;
      padding: 10px;
      font-size: 20px;
      border-radius: 3px 3px 0 0;
      color: white; 
      cursor: pointer;
    }
    .cheatsheet .category .doc-link {
      color: #c36766; }
    .cheatsheet .category ul {
      padding: 0;
      margin: 0;
      /*border:1px #f1f1f1 solid;*/
      /*border-top:none;*/
      /*border-radius: 0 0 3px 3px;*/ }
    .cheatsheet .category li {
      list-style: none;
      line-height: 1.3;
      /*&:last-child {*/
      /*border-radius: 0 0 3px 3px;*/
      /*}*/ }
      .cheatsheet .category li .copy-links {
        display: none; }
      .cheatsheet .category li:nth-child(odd) {
        background-color: #F1F1F1; }
      .cheatsheet .category li:hover {
        background-color: rgba(52, 138, 199, 0.44) !important; }
        .cheatsheet .category li:hover .copy-links {
          display: inline-block; }
      .cheatsheet .category li.active {
        background-color: rgba(116, 116, 191, 0.44) !important; }
      .cheatsheet .category li.v4newActive {
        background-color: rgba(116, 191, 171, 0.44); }
        .cheatsheet .category li.v4newActive:nth-child(odd) {
          background-color: rgba(81, 175, 150, 0.44); }
      .cheatsheet .category li a.item-link {
        padding: 3px 10px;
        display: inline-block;
        width: calc(100% - 60px);
        color: #555; }
      .cheatsheet .category li span.copy-links a {
        color: #232323;
        display: inline-block;
        padding: 3px; }
      .cheatsheet .category li i.screenindicator {
        color: #454545;
        font-size: 14px; }

@media print {
  .hide-print {
    display: none; } }

.showcase-placeholder {
  min-height: 240px; }

.footer-text {
  font-size: 20px;
  text-align: center; }
  .footer-text a, .footer-text a:hover, .footer-text a:focus {
    color: inherit;
    text-decoration: underline; }

.credits {
  margin-top: 150px; }
  .credits a:hover {
    color: #555555; }

.showcase {
  z-index: 1020;
  background-color: #232323;
  color: white;
  position: fixed;
  overflow-y: auto;
  width: 100%;
  max-height: 100%;
  bottom: 0;
  display: none; }
  @media (max-width: 991px) {
    .showcase {
      padding-top: 25px; } }
  .showcase #close-showcase {
    display: block;
    position: absolute;
    z-index: 99;
    top: -3px;
    border-radius: 0 0 8px 8px;
    right: 12px;
    width: 50px;
    height: 50px;
    background-color: #535353;
    border: 3px solid #232323; }
    .showcase #close-showcase:hover {
      background-color: #434343; }
    .showcase #close-showcase i.fa {
      margin-top: 9px;
      margin-left: 12px;
      font-size: 25px;
      color: #232323;
      color: white; }
  .showcase h3.showcase-title {
    margin-top: 15px;
    margin-left: 15px; }
  .showcase .navigation {
    text-align: center;
    /*background-color:#2d2d2d;*/
    font-size: 22px;
    padding-bottom: 4px; }
    .showcase .navigation #current-item-title {
      display: inline-block;
      min-width: 220px;
      padding: 1px; }
    .showcase .navigation .arrow-nav {
      display: inline-block;
      padding: 5px 25px;
      border-radius: 8px;
      margin-bottom: 5px;
      /*background:fuchsia;*/
      background-color: #535353;
      color: #fff;
      font-size: 19px; }
      @media (min-width: 992px) {
        .showcase .navigation .arrow-nav {
          margin: 0 20px; } }
      .showcase .navigation .arrow-nav:focus, .showcase .navigation .arrow-nav:active, .showcase .navigation .arrow-nav:hover {
        text-decoration: none;
        background: #434343; }
    @media (max-width: 543px) {
      .showcase .navigation {
        font-size: 18px; }
        .showcase .navigation #current-item-title {
          min-width: 211px; }
        .showcase .navigation .arrow-nav {
          padding: 3px 10px; } }

.showbox-wrapper {
  position: relative; }
  .showbox-wrapper .showbox-copy-buttons {
    position: absolute;
    top: -26px;
    right: 0px;
    font-size: 16px;
    padding: 0;
    color: #232323; }
  .showbox-wrapper .showbox-copy {
    color: white;
    display: inline-block;
    background: #535353;
    padding: 1px 7px;
    border-radius: 3px 3px 0 0; }
    .showbox-wrapper .showbox-copy:hover, .showbox-wrapper .showbox-copy:active, .showbox-wrapper .showbox-copy:focus {
      text-decoration: none; }
    .showbox-wrapper .showbox-copy:hover {
      background-color: #434343; }
  .showbox-wrapper #showbox-code {
    border-radius: 3px 0 3px 3px;
    background-color: #fff; }
    .showbox-wrapper #showbox-code .harder-highlight {
      font-weight: bold;
      background-color: #F5E7EA; }
    .showbox-wrapper #showbox-code figure.highlight {
      background-color: transparent;
      padding: 0;
      margin: 0; }
      .showbox-wrapper #showbox-code figure.highlight pre {
        margin: 0;
        font-size: 14px;
        line-height: 1.2;
            max-height: 280px;
        /*margin-bottom:-25px;*/ }

#showbox-example {
  position: relative; }
  #showbox-example .fixed-top {
    position: absolute;
    border-radius: 3px 3px 0 0; }
  #showbox-example .fixed-bottom {
    position: absolute;
    border-radius: 0 0 3px 3px; }
  #showbox-example .center-block {
    max-width: 200px;
    background-color: #f1f1f1;
    padding: 15px; }

.showbox {
  padding: 15px;
  background-color: #f5f5f5;
  color: #232323;
  margin: 20px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  min-height: 157px; }
  @media (max-width: 992px) {
    .showbox {
      min-height: 0; } }
  .showbox .card {
    max-width: 320px; }
  .showbox.code {
    font-family: monospace; }
  .showbox .dl-fix {
    padding: 0 15px; }
  .showbox .container.gridpreview .row > .col,
  .showbox .container.gridpreview .row > [class^="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2); }
  .showbox .bd-example-container {
    min-width: 16rem;
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto; }
  .showbox .bd-example-container-header {
    height: 3rem;
    margin-bottom: .5rem;
    background-color: #daeeff;
    border-radius: .25rem; }
  .showbox .bd-example-container-sidebar {
    float: right;
    width: 4rem;
    height: 8rem;
    background-color: #fae3c4;
    border-radius: .25rem; }
  .showbox .bd-example-container-body {
    height: 8rem;
    margin-right: 4.5rem;
    background-color: #957bbe;
    border-radius: .25rem; }
  .showbox .bd-example-container-fluid {
    max-width: none; }

@media (max-width: 1200px) {
  .cheatsheet-title {
    font-size: 3rem; } }

.cheatsheet-subtitle {
  font-size: 30px;
  margin-top: 15px; }
  @media (max-width: 1200px) {
    .cheatsheet-subtitle {
      font-size: 22px; } }

#examples {
  display: none; }

.htcs-highlight {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.15); }

.htcs-flex-container-height {
  min-height: 150px; }

.htcs-flex-container {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.15); }
  .htcs-flex-container div {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.15); }
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    border-radius: 4px;
    color: #fff;
    background-color: #dc2421;
    padding-top: 6px;
    font-size: 20px;
}